In [1]:
import pandas as pd
import numpy as np

# Load CSV as Data Frame
btc_df = pd.read_csv('/Users/troy/Github/courses/crypto-pirates/Datasets/bitcoin_price.csv')
# Create new column called Daily range
btc_df['Daily Range'] = btc_df['High'] - btc_df['Low']
# take the first day of the dataset
btc_df['Date'].min()

'Apr 01, 2014'

In [2]:
# show the price and date of the first day of the dataset
btc_df[['Date','High']].min()

Date    Apr 01, 2014
High           74.56
dtype: object

In [3]:
# show the price and date of the last day of the dataset
btc_df[['Date']].max()

Date    Sep 30, 2017
dtype: object

# Volume Operations

In [4]:
'''
Volume is an object instead of int for some reason. Find missing data. Maybe it's Replaceable? Can we drop it?
Same Issue with Market Cap!
'''
cond = btc_df['Volume'] == '-'
result = btc_df[cond]
result[['Date', 'Volume']]
result.reset_index()

,index,Date,Open,High,Low,Close,Volume,Market Cap,Daily Range
0,1377,"Dec 26, 2013",683.94,777.75,683.94,761.98,-,"8,326,270,000",93.81
1,1378,"Dec 25, 2013",666.31,682.70,649.48,682.21,-,"8,108,930,000",33.22
2,1379,"Dec 24, 2013",672.36,684.39,645.71,665.58,-,"8,179,730,000",38.68
3,1380,"Dec 23, 2013",613.06,680.91,611.04,673.41,-,"7,455,670,000",69.87
4,1381,"Dec 22, 2013",601.78,666.74,585.64,617.18,-,"7,315,940,000",81.10
5,1382,"Dec 21, 2013",619.90,654.27,579.17,605.66,-,"7,533,740,000",75.10
6,1383,"Dec 20, 2013",694.22,729.16,595.33,625.32,-,"8,433,870,000",133.83
7,1384,"Dec 19, 2013",519.06,707.23,502.89,691.96,-,"6,302,970,000",204.34
8,1385,"Dec 18, 2013",678.20,679.32,420.51,522.70,-,"8,232,040,000",258.81
9,1386,"Dec 17, 2013",706.37,754.83,630.88,682.12,-,"8,570,390,000",123.95
10,1387,"Dec 16, 2013",880.33,882.25,668.25,705.97,-,"10,676,600,000",214.00
11,1388,"Dec 15, 2013",875.29,886.16,825.00,876.12,-,"10,611,600,000",61.16
12,1389,"Dec 14, 2013",899.85,904.65,858.36,872.60,-,"10,904,900,000",46.29
13,1390,"Dec 13, 2013",874.98,941.79,860.05,892.58,-,"10,599,700,000",81.74
14,1391,"Dec 12, 2013",882.78,901.94,844.95,873.26,-,"10,690,600,000",56.99
15,1392,"Dec 11, 2013",989.07,1001.58,834.23,878.48,-,"11,973,700,000",167.35
16,1393,"Dec 10, 2013",892.32,997.23,892.32,988.51,-,"10,798,200,000",104.91
17,1394,"Dec 09, 2013",793.80,921.93,780.90,893.19,-,"9,602,480,000",141.03
18,1395,"Dec 08, 2013",697.31,802.51,670.88,795.87,-,"8,431,860,000",131.63
19,1396,"Dec 07, 2013",835.32,854.64,640.22,698.23,-,"10,096,600,000",214.42
20,1397,"Dec 06, 2013",1042.38,1042.38,829.45,829.45,-,"12,593,900,000",212.93
21,1398,"Dec 05, 2013",1152.73,1154.36,897.11,1045.11,-,"13,922,300,000",257.25
22,1399,"Dec 04, 2013",1077.58,1156.12,1070.16,1151.17,-,"13,010,000,000",85.96
23,1400,"Dec 03, 2013",1046.40,1096.00,1011.21,1078.28,-,"12,628,300,000",84.79
24,1401,"Dec 02, 2013",951.42,1055.42,938.41,1043.33,-,"11,478,300,000",117.01
25,1402,"Dec 01, 2013",1128.92,1133.08,801.82,955.85,-,"13,614,300,000",331.26
26,1403,"Nov 30, 2013",1129.37,1156.14,1106.61,1129.43,-,"13,614,700,000",49.53
27,1404,"Nov 29, 2013",1042.01,1146.97,1000.64,1131.97,-,"12,557,100,000",146.33
28,1405,"Nov 28, 2013",1003.38,1077.56,962.17,1031.95,-,"12,087,000,000",115.39
29,1406,"Nov 27, 2013",923.85,1001.96,891.68,1001.96,-,"11,124,900,000",110.28
...,...,...,...,...,...,...,...,...,...
213,1590,"May 27, 2013",133.50,135.47,124.70,129.75,-,"1,495,520,000",10.77
214,1591,"May 26, 2013",131.99,136.00,130.62,133.48,-,"1,478,030,000",5.38
215,1592,"May 25, 2013",133.10,133.22,128.90,131.98,-,"1,489,950,000",4.32
216,1593,"May 24, 2013",126.30,133.85,125.72,133.20,-,"1,413,300,000",8.13
217,1594,"May 23, 2013",123.80,126.93,123.10,126.70,-,"1,384,780,000",3.83
218,1595,"May 22, 2013",122.89,124.00,122.00,123.89,-,"1,374,130,000",2.00
219,1596,"May 21, 2013",122.02,123.00,121.21,122.88,-,"1,363,940,000",1.79
220,1597,"May 20, 2013",122.50,123.62,120.12,122.00,-,"1,368,910,000",3.50
221,1598,"May 19, 2013",123.21,124.50,119.57,121.99,-,"1,376,370,000",4.93
222,1599,"May 18, 2013",123.50,125.25,122.30,123.50,-,"1,379,140,000",2.95
223,1600,"May 17, 2013",118.21,125.30,116.57,123.02,-,"1,319,590,000",8.73
224,1601,"May 16, 2013",114.22,118.76,112.20,118.76,-,"1,274,620,000",6.56
225,1602,"May 15, 2013",111.40,115.81,103.50,114.22,-,"1,242,760,000",12.31
226,1603,"May 14, 2013",117.98,119.80,110.25,111.50,-,"1,315,720,000",9.55
227,1604,"May 13, 2013",114.82,118.70,114.50,117.98,-,"1,279,980,000",4.20
228,1605,"May 12, 2013",115.64,117.45,113.44,115.00,-,"1,288,630,000",4.01
229,1606,"May 11, 2013",117.70,118.68,113.01,115.24,-,"1,311,050,000",5.67
230,1607,"May 10, 2013",112.80,122.00,111.55,117.20,-,"1,255,970,000",10.45
231,1608,"May 09, 2013",113.20,113.46,109.26,112.67,-,"1,259,980,000",4.20
232,1609,"May 08, 2013",109.60,115.78,109.60,113.57,-,"1,219,450,000",6.18
233,1610,"May 07, 2013",112.25,113.44,97.70,111.50,-,"1,248,470,000",15.74
234,1611,"May 06, 2013",115.98,124.66,106.64,112.30,-,"1,289,470,000",18.02
235,1612,"May 05, 2013",112.90,118.80,107.14,115.91,-,"1,254,760,000",11.66
236,1613,"May 04, 2013",98.10,115.00,92.50,112.50,-,"1,089,890,000",22.50
237,1614,"May 03, 2013",106.25,108.13,79.10,97.75,-,"1,180,070,000",29.03
238,1615,"May 02, 2013",116.38,125.60,92.28,105.21,-,"1,292,190,000",33.32
239,1616,"May 01, 2013",139.00,139.89,107.72,116.99,-,"1,542,820,000",32.17
240,1617,"Apr 30, 2013",144.00,146.93,134.05,139.00,-,"1,597,780,000",12.88
241,1618,"Apr 29, 2013",134.44,147.49,134.00,144.54,-,"1,491,160,000",13.49
242,1619,"Apr 28, 2013",135.30,135.98,132.10,134.21,-,"1,500,520,000",3.88

The missing Volume occurs the entire year of 2013. Our dataset seems to be skipping days.

We can try to replace the string to an int. Maybe it is possible to calculate Volume by comparing Market Cap and Price.
Volume is increasing at an insane rate. It is important to recognize that and report how that could impact the
Investment Risk.

In [5]:
# btc_df['Volume'].mean()
# result['Volume'] = btc_df['Market Cap'] / btc_df['Close']
# result
# result.fillna()

# Time Frames of all 1000 USD iterations

Discover the date ranges where the price exceeds $1000

### Query prices from 0 to 1000

In [6]:
btc_iteration = btc_df[(btc_df['Close']>0) & (btc_df['Close']<1000)]
btc_iteration

,Date,Open,High,Low,Close,Volume,Market Cap,Daily Range
191,"Mar 26, 2017",974.01,1007.96,954.19,966.73,"303,668,000","15,814,800,000",53.77
192,"Mar 25, 2017",936.54,975.76,903.71,972.78,"435,803,000","15,204,800,000",72.05
193,"Mar 24, 2017",1038.45,1040.47,934.36,937.52,"491,038,000","16,857,000,000",106.11
199,"Mar 18, 2017",1099.69,1114.07,957.65,973.82,"621,302,000","17,838,700,000",156.42
232,"Feb 13, 2017",998.88,1002.10,976.00,990.64,"100,607,000","16,141,500,000",26.10
233,"Feb 12, 2017",1003.52,1004.76,996.92,999.18,"67,530,000","16,214,700,000",7.84
235,"Feb 10, 2017",995.63,998.90,946.69,988.67,"190,452,000","16,083,600,000",52.21
236,"Feb 09, 2017",1064.70,1088.99,953.34,994.38,"407,220,000","17,197,100,000",135.65
244,"Feb 01, 2017",970.94,989.11,970.74,989.02,"150,110,000","15,667,900,000",18.37
245,"Jan 31, 2017",920.96,972.02,920.96,970.40,"164,582,000","14,859,700,000",51.06
246,"Jan 30, 2017",920.15,923.05,919.47,920.38,"78,227,300","14,844,900,000",3.58
247,"Jan 29, 2017",922.07,923.42,919.15,919.50,"60,851,700","14,874,000,000",4.27
248,"Jan 28, 2017",919.81,923.91,919.81,921.59,"68,979,600","14,835,800,000",4.10
249,"Jan 27, 2017",918.36,923.22,915.85,919.75,"125,594,000","14,810,400,000",7.37
250,"Jan 26, 2017",902.39,919.33,902.22,917.59,"131,958,000","14,551,200,000",17.11
251,"Jan 25, 2017",891.92,903.25,891.69,901.54,"120,831,000","14,380,700,000",11.56
252,"Jan 24, 2017",910.68,924.14,892.29,892.69,"111,349,000","14,681,400,000",31.85
253,"Jan 23, 2017",925.50,928.27,916.74,921.01,"73,588,600","14,918,800,000",11.53
254,"Jan 22, 2017",922.21,937.52,897.56,924.67,"116,573,000","14,863,600,000",39.96
255,"Jan 21, 2017",895.55,927.37,895.53,921.79,"111,158,000","14,432,000,000",31.84
256,"Jan 20, 2017",898.17,899.40,887.01,895.03,"86,728,400","14,472,100,000",12.39
257,"Jan 19, 2017",888.34,904.61,884.34,899.07,"105,625,000","14,311,700,000",20.27
258,"Jan 18, 2017",909.37,917.50,858.30,886.62,"225,677,000","14,648,900,000",59.20
259,"Jan 17, 2017",830.95,910.56,830.80,907.94,"155,095,000","13,383,900,000",79.76
260,"Jan 16, 2017",821.78,834.53,820.27,831.53,"82,755,200","13,234,600,000",14.26
261,"Jan 15, 2017",818.14,823.31,812.87,821.80,"71,013,600","13,174,300,000",10.44
262,"Jan 14, 2017",825.14,835.09,812.46,818.41,"93,063,300","13,285,200,000",22.63
263,"Jan 13, 2017",803.74,829.00,780.00,823.98,"168,968,000","12,939,100,000",49.00
264,"Jan 12, 2017",775.18,826.25,755.76,804.83,"222,326,000","12,477,600,000",70.49
265,"Jan 11, 2017",908.12,919.45,762.76,777.76,"310,929,000","14,615,700,000",156.69
...,...,...,...,...,...,...,...,...
1590,"May 27, 2013",133.50,135.47,124.70,129.75,-,"1,495,520,000",10.77
1591,"May 26, 2013",131.99,136.00,130.62,133.48,-,"1,478,030,000",5.38
1592,"May 25, 2013",133.10,133.22,128.90,131.98,-,"1,489,950,000",4.32
1593,"May 24, 2013",126.30,133.85,125.72,133.20,-,"1,413,300,000",8.13
1594,"May 23, 2013",123.80,126.93,123.10,126.70,-,"1,384,780,000",3.83
1595,"May 22, 2013",122.89,124.00,122.00,123.89,-,"1,374,130,000",2.00
1596,"May 21, 2013",122.02,123.00,121.21,122.88,-,"1,363,940,000",1.79
1597,"May 20, 2013",122.50,123.62,120.12,122.00,-,"1,368,910,000",3.50
1598,"May 19, 2013",123.21,124.50,119.57,121.99,-,"1,376,370,000",4.93
1599,"May 18, 2013",123.50,125.25,122.30,123.50,-,"1,379,140,000",2.95
1600,"May 17, 2013",118.21,125.30,116.57,123.02,-,"1,319,590,000",8.73
1601,"May 16, 2013",114.22,118.76,112.20,118.76,-,"1,274,620,000",6.56
1602,"May 15, 2013",111.40,115.81,103.50,114.22,-,"1,242,760,000",12.31
1603,"May 14, 2013",117.98,119.80,110.25,111.50,-,"1,315,720,000",9.55
1604,"May 13, 2013",114.82,118.70,114.50,117.98,-,"1,279,980,000",4.20
1605,"May 12, 2013",115.64,117.45,113.44,115.00,-,"1,288,630,000",4.01
1606,"May 11, 2013",117.70,118.68,113.01,115.24,-,"1,311,050,000",5.67
1607,"May 10, 2013",112.80,122.00,111.55,117.20,-,"1,255,970,000",10.45
1608,"May 09, 2013",113.20,113.46,109.26,112.67,-,"1,259,980,000",4.20
1609,"May 08, 2013",109.60,115.78,109.60,113.57,-,"1,219,450,000",6.18
1610,"May 07, 2013",112.25,113.44,97.70,111.50,-,"1,248,470,000",15.74
1611,"May 06, 2013",115.98,124.66,106.64,112.30,-,"1,289,470,000",18.02
1612,"May 05, 2013",112.90,118.80,107.14,115.91,-,"1,254,760,000",11.66
1613,"May 04, 2013",98.10,115.00,92.50,112.50,-,"1,089,890,000",22.50
1614,"May 03, 2013",106.25,108.13,79.10,97.75,-,"1,180,070,000",29.03
1615,"May 02, 2013",116.38,125.60,92.28,105.21,-,"1,292,190,000",33.32
1616,"May 01, 2013",139.00,139.89,107.72,116.99,-,"1,542,820,000",32.17
1617,"Apr 30, 2013",144.00,146.93,134.05,139.00,-,"1,597,780,000",12.88
1618,"Apr 29, 2013",134.44,147.49,134.00,144.54,-,"1,491,160,000",13.49
1619,"Apr 28, 2013",135.30,135.98,132.10,134.21,-,"1,500,520,000",3.88

In [7]:
num_days = len(btc_iteration)
num_days

1372

### Query prices from 1000 to 2000

In [8]:
btc_iteration2 = btc_df[(btc_df['Close']>1000) & (btc_df['Close']<2000)]
btc_iteration2

,Date,Open,High,Low,Close,Volume,Market Cap,Daily Range
79,"Jul 16, 2017",1991.98,2058.77,1843.03,1929.82,"1,182,870,000","32,767,600,000",215.74
80,"Jul 15, 2017",2230.12,2231.14,1990.41,1998.86,"993,608,000","36,681,300,000",240.73
137,"May 19, 2017",1897.37,2004.52,1890.25,1987.71,"1,157,290,000","30,999,000,000",114.27
138,"May 18, 2017",1818.70,1904.48,1807.12,1888.65,"894,321,000","29,710,500,000",97.36
139,"May 17, 2017",1726.73,1864.05,1661.91,1839.09,"1,064,730,000","28,204,800,000",202.14
140,"May 16, 2017",1741.70,1785.94,1686.54,1734.45,"959,045,000","28,446,300,000",99.40
141,"May 15, 2017",1808.44,1812.80,1708.54,1738.43,"731,529,000","29,532,600,000",104.26
142,"May 14, 2017",1800.86,1831.42,1776.62,1808.91,"437,196,000","29,405,100,000",54.80
143,"May 13, 2017",1723.12,1812.99,1651.08,1804.91,"579,635,000","28,132,300,000",161.91
144,"May 12, 2017",1845.76,1856.15,1694.01,1724.24,"740,984,000","30,131,100,000",162.14
145,"May 11, 2017",1780.37,1873.93,1755.35,1848.57,"799,490,000","29,060,600,000",118.58
146,"May 10, 2017",1756.52,1788.44,1719.10,1787.13,"915,723,000","28,668,100,000",69.34
147,"May 09, 2017",1723.89,1833.49,1716.30,1755.36,"1,167,920,000","28,132,200,000",117.19
148,"May 08, 2017",1596.92,1723.35,1596.92,1723.35,"1,340,320,000","26,056,500,000",126.43
149,"May 07, 2017",1579.47,1596.72,1559.76,1596.71,"1,080,030,000","25,768,500,000",36.96
150,"May 06, 2017",1556.81,1578.80,1542.50,1578.80,"582,530,000","25,395,600,000",36.30
151,"May 05, 2017",1540.87,1618.03,1530.31,1555.45,"946,036,000","25,133,100,000",87.72
152,"May 04, 2017",1490.72,1608.91,1490.72,1537.67,"933,549,000","24,311,900,000",118.19
153,"May 03, 2017",1453.78,1492.77,1447.49,1490.09,"583,796,000","23,707,100,000",45.28
154,"May 02, 2017",1421.03,1473.90,1415.69,1452.82,"477,338,000","23,170,200,000",58.21
155,"May 01, 2017",1348.30,1434.32,1348.30,1421.60,"713,624,000","21,981,800,000",86.02
156,"Apr 30, 2017",1321.87,1347.91,1314.92,1347.89,"413,115,000","21,548,400,000",32.99
157,"Apr 29, 2017",1317.84,1327.20,1315.21,1321.79,"422,706,000","21,479,800,000",11.99
158,"Apr 28, 2017",1317.74,1331.28,1292.37,1316.48,"527,489,000","21,476,000,000",38.91
159,"Apr 27, 2017",1281.88,1319.70,1281.30,1317.73,"449,197,000","20,889,200,000",38.40
160,"Apr 26, 2017",1265.99,1294.83,1265.93,1281.08,"329,631,000","20,627,900,000",28.90
161,"Apr 25, 2017",1250.45,1267.58,1249.97,1265.49,"242,556,000","20,372,300,000",17.61
162,"Apr 24, 2017",1209.63,1250.94,1209.63,1250.15,"235,806,000","19,705,400,000",41.31
163,"Apr 23, 2017",1231.92,1232.20,1203.94,1207.21,"258,951,000","20,066,200,000",28.26
164,"Apr 22, 2017",1222.71,1235.56,1208.47,1231.71,"249,320,000","19,913,900,000",27.09
...,...,...,...,...,...,...,...,...
222,"Feb 23, 2017",1117.27,1176.62,1116.96,1166.72,"189,454,000","18,075,200,000",59.66
223,"Feb 22, 2017",1114.80,1125.39,1100.55,1117.44,"136,100,000","18,033,400,000",24.84
224,"Feb 21, 2017",1079.28,1117.25,1076.93,1115.30,"186,869,000","17,456,900,000",40.32
225,"Feb 20, 2017",1048.69,1080.49,1041.69,1079.98,"109,478,000","16,960,200,000",38.80
226,"Feb 19, 2017",1054.76,1056.81,1043.46,1047.87,"77,423,300","17,056,600,000",13.35
227,"Feb 18, 2017",1049.21,1061.10,1046.96,1054.42,"99,073,500","16,964,800,000",14.14
228,"Feb 17, 2017",1026.12,1053.17,1025.64,1046.21,"136,474,000","16,589,600,000",27.53
229,"Feb 16, 2017",1007.65,1033.37,1007.65,1027.44,"122,277,000","16,289,100,000",25.72
230,"Feb 15, 2017",1006.21,1008.84,1001.58,1007.48,"89,759,400","16,264,100,000",7.26
231,"Feb 14, 2017",991.74,1011.51,986.47,1004.55,"137,946,000","16,028,000,000",25.04
234,"Feb 11, 2017",988.90,1009.29,982.83,1004.45,"102,261,000","15,976,700,000",26.46
237,"Feb 08, 2017",1062.32,1078.97,1037.49,1063.07,"201,855,000","17,156,700,000",41.48
238,"Feb 07, 2017",1040.14,1061.93,1040.14,1061.35,"146,007,000","16,796,600,000",21.79
239,"Feb 06, 2017",1028.40,1044.64,1028.16,1038.15,"111,762,000","16,605,400,000",16.48
240,"Feb 05, 2017",1043.52,1043.63,1022.37,1027.34,"114,208,000","16,847,400,000",21.26
241,"Feb 04, 2017",1031.33,1045.90,1015.16,1042.90,"155,064,000","16,648,800,000",30.74
242,"Feb 03, 2017",1011.46,1033.87,1008.79,1029.91,"201,278,000","16,326,100,000",25.08
243,"Feb 02, 2017",990.00,1013.52,983.22,1011.80,"145,821,000","15,977,800,000",30.30
271,"Jan 05, 2017",1156.73,1191.10,910.42,1013.38,"510,199,000","18,604,000,000",280.68
272,"Jan 04, 2017",1044.40,1159.42,1044.40,1154.73,"344,946,000","16,795,400,000",115.02
273,"Jan 03, 2017",1021.60,1044.08,1021.60,1043.84,"185,168,000","16,426,600,000",22.48
274,"Jan 02, 2017",998.62,1031.39,996.70,1021.75,"222,185,000","16,055,100,000",34.69
1398,"Dec 05, 2013",1152.73,1154.36,897.11,1045.11,-,"13,922,300,000",257.25
1399,"Dec 04, 2013",1077.58,1156.12,1070.16,1151.17,-,"13,010,000,000",85.96
1400,"Dec 03, 2013",1046.40,1096.00,1011.21,1078.28,-,"12,628,300,000",84.79
1401,"Dec 02, 2013",951.42,1055.42,938.41,1043.33,-,"11,478,300,000",117.01
1403,"Nov 30, 2013",1129.37,1156.14,1106.61,1129.43,-,"13,614,700,000",49.53
1404,"Nov 29, 2013",1042.01,1146.97,1000.64,1131.97,-,"12,557,100,000",146.33
1405,"Nov 28, 2013",1003.38,1077.56,962.17,1031.95,-,"12,087,000,000",115.39
1406,"Nov 27, 2013",923.85,1001.96,891.68,1001.96,-,"11,124,900,000",110.28

In [9]:
num_days = len(btc_iteration2)
num_days

113

### Query prices from 2000 to 3000

In [10]:
btc_iteration3 = btc_df[(btc_df['Close']>2000) & (btc_df['Close']<3000)]
btc_iteration3

,Date,Open,High,Low,Close,Volume,Market Cap,Daily Range
60,"Aug 04, 2017",2806.93,2899.33,2743.72,2895.89,"1,002,120,000","46,276,200,000",155.61
61,"Aug 03, 2017",2709.56,2813.31,2685.14,2804.73,"804,797,000","44,666,400,000",128.17
62,"Aug 02, 2017",2727.13,2762.53,2668.59,2710.67,"1,094,950,000","44,950,800,000",93.94
63,"Aug 01, 2017",2871.30,2921.35,2685.61,2718.26,"1,324,670,000","47,321,800,000",235.74
64,"Jul 31, 2017",2763.24,2889.62,2720.61,2875.34,"860,575,000","45,535,800,000",169.01
65,"Jul 30, 2017",2724.39,2758.53,2644.85,2757.18,"705,943,000","44,890,700,000",113.68
66,"Jul 29, 2017",2807.02,2808.76,2692.80,2726.45,"803,746,000","46,246,700,000",115.96
67,"Jul 28, 2017",2679.73,2897.45,2679.73,2809.01,"1,380,100,000","44,144,400,000",217.72
68,"Jul 27, 2017",2538.71,2693.32,2529.34,2671.78,"789,104,000","41,816,500,000",163.98
69,"Jul 26, 2017",2577.77,2610.76,2450.80,2529.45,"937,404,000","42,455,000,000",159.96
70,"Jul 25, 2017",2757.50,2768.08,2480.96,2576.48,"1,460,090,000","45,410,100,000",287.12
71,"Jul 24, 2017",2732.70,2777.26,2699.19,2754.86,"866,474,000","44,995,600,000",78.07
72,"Jul 23, 2017",2808.10,2832.18,2653.94,2730.40,"1,072,840,000","46,231,100,000",178.24
73,"Jul 22, 2017",2668.63,2862.42,2657.71,2810.12,"1,177,130,000","43,929,600,000",204.71
74,"Jul 21, 2017",2838.41,2838.41,2621.85,2667.76,"1,489,450,000","46,719,000,000",216.56
75,"Jul 20, 2017",2269.89,2900.70,2269.89,2817.60,"2,249,260,000","37,356,800,000",630.81
76,"Jul 19, 2017",2323.08,2397.17,2260.23,2273.43,"1,245,100,000","38,227,800,000",136.94
77,"Jul 18, 2017",2233.52,2387.61,2164.77,2318.88,"1,512,450,000","36,749,400,000",222.84
78,"Jul 17, 2017",1932.62,2230.49,1932.62,2228.41,"1,201,760,000","31,795,000,000",297.87
81,"Jul 14, 2017",2360.59,2363.25,2183.22,2233.34,"882,503,000","38,823,100,000",180.03
82,"Jul 13, 2017",2402.70,2425.22,2340.83,2357.90,"835,770,000","39,511,000,000",84.39
83,"Jul 12, 2017",2332.77,2423.71,2275.14,2398.84,"1,117,410,000","38,355,900,000",148.57
84,"Jul 11, 2017",2385.89,2413.47,2296.81,2337.79,"1,329,760,000","39,224,200,000",116.66
85,"Jul 10, 2017",2525.25,2537.16,2321.13,2372.56,"1,111,200,000","41,509,000,000",216.03
86,"Jul 09, 2017",2572.61,2635.49,2517.59,2518.44,"527,856,000","42,283,200,000",117.90
87,"Jul 08, 2017",2520.27,2571.34,2492.31,2571.34,"733,330,000","41,417,700,000",79.03
88,"Jul 07, 2017",2608.59,2916.14,2498.87,2518.66,"917,412,000","42,864,200,000",417.27
89,"Jul 06, 2017",2608.10,2616.72,2581.69,2608.56,"761,957,000","42,851,400,000",35.03
90,"Jul 05, 2017",2602.87,2622.65,2538.55,2601.99,"941,566,000","42,760,800,000",84.10
91,"Jul 04, 2017",2561.00,2631.59,2559.35,2601.64,"985,516,000","42,067,900,000",72.24
...,...,...,...,...,...,...,...,...
107,"Jun 18, 2017",2655.35,2662.10,2516.33,2548.29,"1,178,660,000","43,539,300,000",145.77
108,"Jun 17, 2017",2514.01,2685.19,2484.96,2655.88,"1,534,510,000","41,217,200,000",200.23
109,"Jun 16, 2017",2469.57,2539.92,2385.15,2518.56,"1,195,190,000","40,484,100,000",154.77
110,"Jun 15, 2017",2499.58,2534.71,2212.96,2464.58,"2,026,260,000","40,971,300,000",321.75
111,"Jun 14, 2017",2716.88,2786.83,2412.94,2506.37,"1,696,560,000","44,528,300,000",373.89
112,"Jun 13, 2017",2680.91,2789.04,2650.38,2717.02,"1,781,200,000","43,934,100,000",138.66
113,"Jun 12, 2017",2953.22,2997.26,2518.56,2659.63,"2,569,530,000","48,391,200,000",478.70
114,"Jun 11, 2017",2942.41,2996.60,2840.53,2958.11,"1,752,400,000","48,208,700,000",156.07
115,"Jun 10, 2017",2828.14,2950.99,2746.55,2947.71,"2,018,890,000","46,331,400,000",204.44
116,"Jun 09, 2017",2807.44,2901.71,2795.62,2823.81,"1,348,950,000","45,987,100,000",106.09
117,"Jun 08, 2017",2720.49,2815.30,2670.95,2805.62,"1,281,170,000","44,557,100,000",144.35
118,"Jun 07, 2017",2869.38,2869.38,2700.56,2732.16,"1,517,710,000","46,989,800,000",168.82
119,"Jun 06, 2017",2690.84,2999.91,2690.84,2863.20,"2,089,610,000","44,061,000,000",309.07
120,"Jun 05, 2017",2512.40,2686.81,2510.22,2686.81,"1,369,310,000","41,133,900,000",176.59
121,"Jun 04, 2017",2547.79,2585.89,2452.54,2511.81,"1,355,120,000","41,708,200,000",133.35
122,"Jun 03, 2017",2493.72,2581.91,2423.57,2515.35,"1,514,950,000","40,817,100,000",158.34
123,"Jun 02, 2017",2404.03,2488.55,2373.32,2488.55,"1,317,030,000","39,344,600,000",115.23
124,"Jun 01, 2017",2288.33,2448.39,2288.33,2407.88,"1,653,180,000","37,446,200,000",160.06
125,"May 31, 2017",2187.19,2311.08,2145.57,2286.41,"1,544,830,000","35,786,700,000",165.51
126,"May 30, 2017",2255.36,2301.96,2124.57,2175.47,"1,443,970,000","36,897,000,000",177.39
127,"May 29, 2017",2159.43,2307.05,2107.17,2255.61,"994,625,000","35,323,500,000",199.88
128,"May 28, 2017",2054.08,2267.34,2054.08,2155.80,"1,147,140,000","33,595,900,000",213.26
129,"May 27, 2017",2196.27,2260.20,1855.83,2038.87,"1,700,480,000","35,917,100,000",404.37
130,"May 26, 2017",2320.89,2573.79,2071.99,2202.42,"1,763,480,000","37,950,600,000",501.80
131,"May 25, 2017",2446.24,2763.71,2285.30,2304.98,"2,406,700,000","39,995,400,000",478.41
132,"May 24, 2017",2321.37,2523.72,2321.37,2443.64,"1,725,380,000","37,949,200,000",202.35
133,"May 23, 2017",2191.56,2320.82,2178.50,2320.42,"1,378,750,000","35,822,600,000",142.32
134,"May 22, 2017",2043.19,2303.90,2017.87,2173.40,"1,942,220,000","33,393,600,000",286.03
135,"May 21, 2017",2067.03,2119.08,2037.50,2041.20,"1,147,860,000","33,779,400,000",81.58
136,"May 20, 2017",1984.24,2084.73,1974.92,2084.73,"961,336,000","32,422,400,000",109.81

In [11]:
num_days = len(btc_iteration3)
num_days

75

### Query prices from 3000 to 4000

In [12]:
btc_iteration = btc_df[(btc_df['High']>=3000) & (btc_df['High']<=4000)]
# btc_iteration['Date'] = pd.to_datetime(btc_df.Date)
new_df = btc_iteration.sort_values(by='Date')
# Reset index
new_df.reset_index(inplace=True)
new_df

,index,Date,Open,High,Low,Close,Volume,Market Cap,Daily Range
0,59,"Aug 05, 2017",2897.63,3290.01,2874.83,3252.91,"1,945,700,000","47,778,200,000",415.18
1,58,"Aug 06, 2017",3257.61,3293.29,3155.60,3213.94,"1,105,030,000","53,720,900,000",137.69
2,57,"Aug 07, 2017",3212.78,3397.68,3180.89,3378.94,"1,482,280,000","52,987,300,000",216.79
3,56,"Aug 08, 2017",3370.22,3484.85,3345.83,3419.94,"1,752,760,000","55,590,300,000",139.02
4,55,"Aug 09, 2017",3420.40,3422.76,3247.67,3342.47,"1,468,960,000","56,424,900,000",175.09
5,54,"Aug 10, 2017",3341.84,3453.45,3319.47,3381.28,"1,515,110,000","55,134,700,000",133.98
6,53,"Aug 11, 2017",3373.82,3679.72,3372.12,3650.62,"2,021,190,000","55,668,000,000",307.60
7,52,"Aug 12, 2017",3650.63,3949.92,3613.70,3884.71,"2,219,590,000","60,242,100,000",336.22
8,19,"Sep 14, 2017",3875.37,3920.60,3153.86,3154.95,"2,716,310,000","64,191,600,000",766.74
9,18,"Sep 15, 2017",3166.30,3733.45,2946.62,3637.52,"4,148,070,000","52,453,500,000",786.83
10,17,"Sep 16, 2017",3637.75,3808.84,3487.79,3625.04,"1,818,400,000","60,271,600,000",321.05
11,16,"Sep 17, 2017",3606.28,3664.81,3445.64,3582.88,"1,239,150,000","59,757,800,000",219.17
12,12,"Sep 21, 2017",3901.47,3916.42,3613.63,3631.04,"1,411,480,000","64,677,600,000",302.79
13,11,"Sep 22, 2017",3628.02,3758.27,3553.53,3630.70,"1,194,830,000","60,152,300,000",204.74
14,10,"Sep 23, 2017",3629.92,3819.21,3594.58,3792.40,"928,114,000","60,190,000,000",224.63
15,9,"Sep 24, 2017",3796.15,3796.15,3666.90,3682.84,"768,015,000","62,954,300,000",129.25
16,8,"Sep 25, 2017",3681.58,3950.25,3681.58,3926.07,"1,374,210,000","61,061,100,000",268.67
17,7,"Sep 26, 2017",3928.41,3969.89,3869.90,3892.35,"1,043,740,000","65,161,000,000",99.99

In [13]:
# Calculate the number of days
iteration_len = len(new_df)
iteration_len

18

In [14]:
#find the first and last day
new_df['Date'].min()

'Aug 05, 2017'

In [15]:
new_df['Date'].max()

'Sep 26, 2017'

In [16]:
new_df['Date'].count()

18

In [17]:
# find the highest price and day of the iteration
new_df['High'].max()

3969.8899999999999

### Query prices from 4000 to 5000

In [18]:
'''
You can also query data frames by selecting specific columns
'''
cond1 = btc_df['High']>4000
cond2 = btc_df['High']<5000
result = btc_df[(cond1) & (cond2)]
#cols = ['Date','High','Daily Range']
result

,Date,Open,High,Low,Close,Volume,Market Cap,Daily Range
0,"Oct 03, 2017",4408.46,4432.47,4258.89,4317.48,"1,288,020,000","73,181,300,000",173.58
1,"Oct 02, 2017",4395.81,4470.23,4377.46,4409.32,"1,431,730,000","72,963,200,000",92.77
2,"Oct 01, 2017",4341.05,4403.74,4269.81,4403.74,"1,208,210,000","72,047,300,000",133.93
3,"Sep 30, 2017",4166.11,4358.43,4160.86,4338.71,"1,207,450,000","69,136,600,000",197.57
4,"Sep 29, 2017",4171.62,4214.63,4039.29,4163.07,"1,367,050,000","69,219,200,000",175.34
5,"Sep 28, 2017",4197.13,4279.31,4109.70,4174.73,"1,712,320,000","69,633,200,000",169.61
6,"Sep 27, 2017",3892.94,4210.05,3884.82,4200.67,"1,686,880,000","64,579,200,000",325.23
13,"Sep 20, 2017",3916.36,4031.39,3857.73,3905.95,"1,213,830,000","64,918,500,000",173.66
14,"Sep 19, 2017",4073.79,4094.07,3868.87,3924.97,"1,563,980,000","67,520,300,000",225.20
15,"Sep 18, 2017",3591.09,4079.23,3591.09,4065.20,"1,943,210,000","59,514,100,000",488.14
20,"Sep 13, 2017",4131.98,4131.98,3789.92,3882.59,"2,219,410,000","68,432,200,000",342.06
21,"Sep 12, 2017",4168.88,4344.65,4085.22,4130.81,"1,864,530,000","69,033,400,000",259.43
22,"Sep 11, 2017",4122.47,4261.67,4099.40,4161.27,"1,557,330,000","68,256,000,000",162.27
23,"Sep 10, 2017",4229.34,4245.44,3951.04,4122.94,"1,679,090,000","70,018,100,000",294.40
24,"Sep 09, 2017",4229.81,4308.82,4114.11,4226.06,"1,386,230,000","70,017,200,000",194.71
25,"Sep 08, 2017",4605.16,4661.00,4075.18,4228.75,"2,700,890,000","76,220,200,000",585.82
26,"Sep 07, 2017",4589.14,4655.04,4491.33,4599.88,"1,844,620,000","75,945,000,000",163.71
27,"Sep 06, 2017",4376.59,4617.25,4376.59,4597.12,"2,172,100,000","72,418,700,000",240.66
28,"Sep 05, 2017",4228.29,4427.84,3998.11,4376.53,"2,697,970,000","69,954,400,000",429.73
29,"Sep 04, 2017",4591.63,4591.63,4108.40,4236.31,"2,987,330,000","75,955,500,000",483.23
30,"Sep 03, 2017",4585.27,4714.08,4417.59,4582.96,"1,933,190,000","75,841,700,000",296.49
31,"Sep 02, 2017",4901.42,4975.04,4469.24,4578.77,"2,722,140,000","81,060,600,000",505.80
32,"Sep 01, 2017",4701.76,4892.01,4678.53,4892.01,"2,599,080,000","77,748,400,000",213.48
33,"Aug 31, 2017",4555.59,4736.05,4549.40,4703.39,"1,944,930,000","75,322,300,000",186.65
34,"Aug 30, 2017",4570.36,4626.52,4471.41,4565.30,"1,937,850,000","75,556,600,000",155.11
35,"Aug 29, 2017",4389.21,4625.68,4352.13,4579.02,"2,486,080,000","72,553,800,000",273.55
36,"Aug 28, 2017",4384.45,4403.93,4224.64,4382.66,"1,959,330,000","72,467,900,000",179.29
37,"Aug 27, 2017",4345.10,4416.59,4317.29,4382.88,"1,537,460,000","71,809,200,000",99.30
38,"Aug 26, 2017",4372.06,4379.28,4269.52,4352.40,"1,511,610,000","72,249,100,000",109.76
39,"Aug 25, 2017",4332.82,4455.70,4307.35,4371.60,"1,727,970,000","71,595,100,000",148.35
40,"Aug 24, 2017",4137.60,4376.39,4130.26,4334.68,"2,037,750,000","68,363,900,000",246.13
41,"Aug 23, 2017",4089.01,4255.78,4078.41,4151.52,"2,369,820,000","67,553,000,000",177.37
42,"Aug 22, 2017",3998.35,4128.76,3674.58,4100.52,"3,764,240,000","66,051,000,000",454.18
43,"Aug 21, 2017",4090.48,4109.14,3988.60,4001.74,"2,800,890,000","67,567,100,000",120.54
44,"Aug 20, 2017",4189.31,4196.29,4069.88,4087.66,"2,109,770,000","69,192,700,000",126.41
45,"Aug 19, 2017",4137.75,4243.26,3970.55,4193.70,"2,975,820,000","68,333,100,000",272.71
46,"Aug 18, 2017",4324.34,4370.13,4015.40,4160.62,"2,941,710,000","71,406,500,000",354.73
47,"Aug 17, 2017",4384.44,4484.70,4243.71,4331.69,"2,553,360,000","72,389,100,000",240.99
48,"Aug 16, 2017",4200.34,4381.23,3994.42,4376.63,"2,272,040,000","69,342,700,000",386.81
49,"Aug 15, 2017",4326.99,4455.97,3906.18,4181.93,"3,258,050,000","71,425,500,000",549.79
50,"Aug 14, 2017",4066.10,4325.13,3989.16,4325.13,"2,463,090,000","67,112,300,000",335.97
51,"Aug 13, 2017",3880.04,4208.39,3857.80,4073.26,"3,159,090,000","64,034,100,000",350.59

In [19]:
'''
This way works too
'''
btc_iteration2 = btc_df[(btc_df['High']>4000) & (btc_df['High']<5000)]
cols = ['Date','High','Daily Range']
btc_iteration2[cols]

            Date     High  Daily Range
0   Oct 03, 2017  4432.47       173.58
1   Oct 02, 2017  4470.23        92.77
2   Oct 01, 2017  4403.74       133.93
3   Sep 30, 2017  4358.43       197.57
4   Sep 29, 2017  4214.63       175.34
5   Sep 28, 2017  4279.31       169.61
6   Sep 27, 2017  4210.05       325.23
13  Sep 20, 2017  4031.39       173.66
14  Sep 19, 2017  4094.07       225.20
15  Sep 18, 2017  4079.23       488.14
20  Sep 13, 2017  4131.98       342.06
21  Sep 12, 2017  4344.65       259.43
22  Sep 11, 2017  4261.67       162.27
23  Sep 10, 2017  4245.44       294.40
24  Sep 09, 2017  4308.82       194.71
25  Sep 08, 2017  4661.00       585.82
26  Sep 07, 2017  4655.04       163.71
27  Sep 06, 2017  4617.25       240.66
28  Sep 05, 2017  4427.84       429.73
29  Sep 04, 2017  4591.63       483.23
30  Sep 03, 2017  4714.08       296.49
31  Sep 02, 2017  4975.04       505.80
32  Sep 01, 2017  4892.01       213.48
33  Aug 31, 2017  4736.05       186.65
34  Aug 30, 2017  4626.52       155.11
35  Aug 29, 2017  4625.68       273.55
36  Aug 28, 2017  4403.93       179.29
37  Aug 27, 2017  4416.59        99.30
38  Aug 26, 2017  4379.28       109.76
39  Aug 25, 2017  4455.70       148.35
40  Aug 24, 2017  4376.39       246.13
41  Aug 23, 2017  4255.78       177.37
42  Aug 22, 2017  4128.76       454.18
43  Aug 21, 2017  4109.14       120.54
44  Aug 20, 2017  4196.29       126.41
45  Aug 19, 2017  4243.26       272.71
46  Aug 18, 2017  4370.13       354.73
47  Aug 17, 2017  4484.70       240.99
48  Aug 16, 2017  4381.23       386.81
49  Aug 15, 2017  4455.97       549.79
50  Aug 14, 2017  4325.13       335.97
51  Aug 13, 2017  4208.39       350.59

In [20]:
# Calculate the number of days
iteration2_len = len(btc_iteration2)
iteration2_len

42

In [21]:
btc_iteration2['Date'].min()

'Aug 13, 2017'

In [22]:
btc_iteration2['Date'].max()

'Sep 30, 2017'

# Wise Times To Buy

Simple Approach for technical strategies

In [23]:
avg_daily_range = btc_df['Daily Range'].mean()
# btc_df[btc_df['Close']>btc_df['Open']]
# btc_df[btc_df['Close']>btc_df['Open']].sort_values(btc_df['Date'])
new_btc_df = btc_df[(btc_df['High'] > btc_df['Low']) & (btc_df['Daily Range'] > 300)]
new_btc_df

,Date,Open,High,Low,Close,Volume,Market Cap,Daily Range
6,"Sep 27, 2017",3892.94,4210.05,3884.82,4200.67,"1,686,880,000","64,579,200,000",325.23
12,"Sep 21, 2017",3901.47,3916.42,3613.63,3631.04,"1,411,480,000","64,677,600,000",302.79
15,"Sep 18, 2017",3591.09,4079.23,3591.09,4065.20,"1,943,210,000","59,514,100,000",488.14
17,"Sep 16, 2017",3637.75,3808.84,3487.79,3625.04,"1,818,400,000","60,271,600,000",321.05
18,"Sep 15, 2017",3166.30,3733.45,2946.62,3637.52,"4,148,070,000","52,453,500,000",786.83
19,"Sep 14, 2017",3875.37,3920.60,3153.86,3154.95,"2,716,310,000","64,191,600,000",766.74
20,"Sep 13, 2017",4131.98,4131.98,3789.92,3882.59,"2,219,410,000","68,432,200,000",342.06
25,"Sep 08, 2017",4605.16,4661.00,4075.18,4228.75,"2,700,890,000","76,220,200,000",585.82
28,"Sep 05, 2017",4228.29,4427.84,3998.11,4376.53,"2,697,970,000","69,954,400,000",429.73
29,"Sep 04, 2017",4591.63,4591.63,4108.40,4236.31,"2,987,330,000","75,955,500,000",483.23
31,"Sep 02, 2017",4901.42,4975.04,4469.24,4578.77,"2,722,140,000","81,060,600,000",505.80
42,"Aug 22, 2017",3998.35,4128.76,3674.58,4100.52,"3,764,240,000","66,051,000,000",454.18
46,"Aug 18, 2017",4324.34,4370.13,4015.40,4160.62,"2,941,710,000","71,406,500,000",354.73
48,"Aug 16, 2017",4200.34,4381.23,3994.42,4376.63,"2,272,040,000","69,342,700,000",386.81
49,"Aug 15, 2017",4326.99,4455.97,3906.18,4181.93,"3,258,050,000","71,425,500,000",549.79
50,"Aug 14, 2017",4066.10,4325.13,3989.16,4325.13,"2,463,090,000","67,112,300,000",335.97
51,"Aug 13, 2017",3880.04,4208.39,3857.80,4073.26,"3,159,090,000","64,034,100,000",350.59
52,"Aug 12, 2017",3650.63,3949.92,3613.70,3884.71,"2,219,590,000","60,242,100,000",336.22
53,"Aug 11, 2017",3373.82,3679.72,3372.12,3650.62,"2,021,190,000","55,668,000,000",307.60
59,"Aug 05, 2017",2897.63,3290.01,2874.83,3252.91,"1,945,700,000","47,778,200,000",415.18
75,"Jul 20, 2017",2269.89,2900.70,2269.89,2817.60,"2,249,260,000","37,356,800,000",630.81
88,"Jul 07, 2017",2608.59,2916.14,2498.87,2518.66,"917,412,000","42,864,200,000",417.27
110,"Jun 15, 2017",2499.58,2534.71,2212.96,2464.58,"2,026,260,000","40,971,300,000",321.75
111,"Jun 14, 2017",2716.88,2786.83,2412.94,2506.37,"1,696,560,000","44,528,300,000",373.89
113,"Jun 12, 2017",2953.22,2997.26,2518.56,2659.63,"2,569,530,000","48,391,200,000",478.70
119,"Jun 06, 2017",2690.84,2999.91,2690.84,2863.20,"2,089,610,000","44,061,000,000",309.07
129,"May 27, 2017",2196.27,2260.20,1855.83,2038.87,"1,700,480,000","35,917,100,000",404.37
130,"May 26, 2017",2320.89,2573.79,2071.99,2202.42,"1,763,480,000","37,950,600,000",501.80
131,"May 25, 2017",2446.24,2763.71,2285.30,2304.98,"2,406,700,000","39,995,400,000",478.41
1402,"Dec 01, 2013",1128.92,1133.08,801.82,955.85,-,"13,614,300,000",331.26
1414,"Nov 19, 2013",712.76,806.11,456.39,584.61,-,"8,559,550,000",349.72

In [24]:
totalDays = len(new_btc_df)
totalDays

31

# Finding Simple Moving Average

We want to plot a simple moving average in order to discover crossovers. Crossovers are good indicators for buying and selling.

A simple moving average (SMA) is an arithmetic moving average calculated by adding the closing price of the security for a number of time periods and then dividing this total by the number of time periods.

Read more: Simple Moving Average (SMA) https://www.investopedia.com/terms/s/sma.asp#ixzz50bHYsA5m 
Follow us: Investopedia on Facebook

First, find the overall SMA of our dataframe

In [25]:
# This is a constant horizontal value
close = btc_df['Close']
day1 = btc_df['Date'].min()
lastDay = btc_df['Date'].max()
sma = close.mean()
sma

718.80420987654315

In [26]:
day1

'Apr 01, 2014'

In [27]:
lastDay

'Sep 30, 2017'

In [28]:
# This is a moving average curve
btc_df['MA'] = btc_df['Close'].rolling(5).mean()
btc_df

,Date,Open,High,Low,Close,Volume,Market Cap,Daily Range,MA
0,"Oct 03, 2017",4408.46,4432.47,4258.89,4317.48,"1,288,020,000","73,181,300,000",173.58,NaN
1,"Oct 02, 2017",4395.81,4470.23,4377.46,4409.32,"1,431,730,000","72,963,200,000",92.77,NaN
2,"Oct 01, 2017",4341.05,4403.74,4269.81,4403.74,"1,208,210,000","72,047,300,000",133.93,NaN
3,"Sep 30, 2017",4166.11,4358.43,4160.86,4338.71,"1,207,450,000","69,136,600,000",197.57,NaN
4,"Sep 29, 2017",4171.62,4214.63,4039.29,4163.07,"1,367,050,000","69,219,200,000",175.34,4326.464
5,"Sep 28, 2017",4197.13,4279.31,4109.70,4174.73,"1,712,320,000","69,633,200,000",169.61,4297.914
6,"Sep 27, 2017",3892.94,4210.05,3884.82,4200.67,"1,686,880,000","64,579,200,000",325.23,4256.184
7,"Sep 26, 2017",3928.41,3969.89,3869.90,3892.35,"1,043,740,000","65,161,000,000",99.99,4153.906
8,"Sep 25, 2017",3681.58,3950.25,3681.58,3926.07,"1,374,210,000","61,061,100,000",268.67,4071.378
9,"Sep 24, 2017",3796.15,3796.15,3666.90,3682.84,"768,015,000","62,954,300,000",129.25,3975.332
10,"Sep 23, 2017",3629.92,3819.21,3594.58,3792.40,"928,114,000","60,190,000,000",224.63,3898.866
11,"Sep 22, 2017",3628.02,3758.27,3553.53,3630.70,"1,194,830,000","60,152,300,000",204.74,3784.872
12,"Sep 21, 2017",3901.47,3916.42,3613.63,3631.04,"1,411,480,000","64,677,600,000",302.79,3732.610
13,"Sep 20, 2017",3916.36,4031.39,3857.73,3905.95,"1,213,830,000","64,918,500,000",173.66,3728.586
14,"Sep 19, 2017",4073.79,4094.07,3868.87,3924.97,"1,563,980,000","67,520,300,000",225.20,3777.012
15,"Sep 18, 2017",3591.09,4079.23,3591.09,4065.20,"1,943,210,000","59,514,100,000",488.14,3831.572
16,"Sep 17, 2017",3606.28,3664.81,3445.64,3582.88,"1,239,150,000","59,757,800,000",219.17,3822.008
17,"Sep 16, 2017",3637.75,3808.84,3487.79,3625.04,"1,818,400,000","60,271,600,000",321.05,3820.808
18,"Sep 15, 2017",3166.30,3733.45,2946.62,3637.52,"4,148,070,000","52,453,500,000",786.83,3767.122
19,"Sep 14, 2017",3875.37,3920.60,3153.86,3154.95,"2,716,310,000","64,191,600,000",766.74,3613.118
20,"Sep 13, 2017",4131.98,4131.98,3789.92,3882.59,"2,219,410,000","68,432,200,000",342.06,3576.596
21,"Sep 12, 2017",4168.88,4344.65,4085.22,4130.81,"1,864,530,000","69,033,400,000",259.43,3686.182
22,"Sep 11, 2017",4122.47,4261.67,4099.40,4161.27,"1,557,330,000","68,256,000,000",162.27,3793.428
23,"Sep 10, 2017",4229.34,4245.44,3951.04,4122.94,"1,679,090,000","70,018,100,000",294.40,3890.512
24,"Sep 09, 2017",4229.81,4308.82,4114.11,4226.06,"1,386,230,000","70,017,200,000",194.71,4104.734
25,"Sep 08, 2017",4605.16,4661.00,4075.18,4228.75,"2,700,890,000","76,220,200,000",585.82,4173.966
26,"Sep 07, 2017",4589.14,4655.04,4491.33,4599.88,"1,844,620,000","75,945,000,000",163.71,4267.780
27,"Sep 06, 2017",4376.59,4617.25,4376.59,4597.12,"2,172,100,000","72,418,700,000",240.66,4354.950
28,"Sep 05, 2017",4228.29,4427.84,3998.11,4376.53,"2,697,970,000","69,954,400,000",429.73,4405.668
29,"Sep 04, 2017",4591.63,4591.63,4108.40,4236.31,"2,987,330,000","75,955,500,000",483.23,4407.718
...,...,...,...,...,...,...,...,...,...
1590,"May 27, 2013",133.50,135.47,124.70,129.75,-,"1,495,520,000",10.77,129.770
1591,"May 26, 2013",131.99,136.00,130.62,133.48,-,"1,478,030,000",5.38,130.666
1592,"May 25, 2013",133.10,133.22,128.90,131.98,-,"1,489,950,000",4.32,131.302
1593,"May 24, 2013",126.30,133.85,125.72,133.20,-,"1,413,300,000",8.13,131.482
1594,"May 23, 2013",123.80,126.93,123.10,126.70,-,"1,384,780,000",3.83,131.022
1595,"May 22, 2013",122.89,124.00,122.00,123.89,-,"1,374,130,000",2.00,129.850
1596,"May 21, 2013",122.02,123.00,121.21,122.88,-,"1,363,940,000",1.79,127.730
1597,"May 20, 2013",122.50,123.62,120.12,122.00,-,"1,368,910,000",3.50,125.734
1598,"May 19, 2013",123.21,124.50,119.57,121.99,-,"1,376,370,000",4.93,123.492
1599,"May 18, 2013",123.50,125.25,122.30,123.50,-,"1,379,140,000",2.95,122.852
1600,"May 17, 2013",118.21,125.30,116.57,123.02,-,"1,319,590,000",8.73,122.678
1601,"May 16, 2013",114.22,118.76,112.20,118.76,-,"1,274,620,000",6.56,121.854
1602,"May 15, 2013",111.40,115.81,103.50,114.22,-,"1,242,760,000",12.31,120.298
1603,"May 14, 2013",117.98,119.80,110.25,111.50,-,"1,315,720,000",9.55,118.200
1604,"May 13, 2013",114.82,118.70,114.50,117.98,-,"1,279,980,000",4.20,117.096
1605,"May 12, 2013",115.64,117.45,113.44,115.00,-,"1,288,630,000",4.01,115.492
1606,"May 11, 2013",117.70,118.68,113.01,115.24,-,"1,311,050,000",5.67,114.788
1607,"May 10, 2013",112.80,122.00,111.55,117.20,-,"1,255,970,000",10.45,115.384
1608,"May 09, 2013",113.20,113.46,109.26,112.67,-,"1,259,980,000",4.20,115.618
1609,"May 08, 2013",109.60,115.78,109.60,113.57,-,"1,219,450,000",6.18,114.736
1610,"May 07, 2013",112.25,113.44,97.70,111.50,-,"1,248,470,000",15.74,114.036
1611,"May 06, 2013",115.98,124.66,106.64,112.30,-,"1,289,470,000",18.02,113.448
1612,"May 05, 2013",112.90,118.80,107.14,115.91,-,"1,254,760,000",11.66,113.190
1613,"May 04, 2013",98.10,115.00,92.50,112.50,-,"1,089,890,000",22.50,113.156
1614,"May 03, 2013",106.25,108.13,79.10,97.75,-,"1,180,070,000",29.03,109.992
1615,"May 02, 2013",116.38,125.60,92.28,105.21,-,"1,292,190,000",33.32,108.734
1616,"May 01, 2013",139.00,139.89,107.72,116.99,-,"1,542,820,000",32.17,109.672
1617,"Apr 30, 2013",144.00,146.93,134.05,139.00,-,"1,597,780,000",12.88,114.290
1618,"Apr 29, 2013",134.44,147.49,134.00,144.54,-,"1,491,160,000",13.49,120.698
1619,"Apr 28, 2013",135.30,135.98,132.10,134.21,-,"1,500,520,000",3.88,127.990

# Visual of MA and Close

In [29]:
import plotly
import plotly.plotly as py
import plotly.graph_objs as go

In [30]:
trace1 = go.Scatter(
    x = btc_df['Date'],
    y = btc_df['Close'],
    mode = 'Lines',
    name = 'Bitcoin Close Price'
)
trace2 = go.Scatter(
    x = btc_df['Date'],
    y = btc_df['MA'],
    mode = 'Lines',
    name = 'Bitcoin Moving Average'
)

data = [trace1,trace2]

py.iplot(data, filename='basic-scatter')