In [1]:
import pandas as pd
import numpy as np

btc_df = pd.read_csv('/Users/troy/Github/courses/crypto-pirates/Datasets/bitcoin_price.csv')
btc_df['Daily Range'] = btc_df['High'] - btc_df['Low']

# Volume Operations

In [2]:
btc_df['Volume'].replace(to_replace="[a-zA-Z]", value='', 
regex=True, inplace=True)
# btc_df['Volume'].mean()

# Time Frames of all 1000 USD iterations

Discover the date ranges where the price exceeds $1000

### Query prices from 3000 to 4000

In [24]:
btc_iteration = btc_df[(btc_df['Close']>=3000) & (btc_df['Close']<=4000)]
# btc_iteration['Date'] = pd.to_datetime(btc_df.Date)
new_df = btc_iteration.sort_values(by='Date')
new_df

,Date,Open,High,Low,Close,Volume,Market Cap,Daily Range
59,"Aug 05, 2017",2897.63,3290.01,2874.83,3252.91,"1,945,700,000","47,778,200,000",415.18
58,"Aug 06, 2017",3257.61,3293.29,3155.60,3213.94,"1,105,030,000","53,720,900,000",137.69
57,"Aug 07, 2017",3212.78,3397.68,3180.89,3378.94,"1,482,280,000","52,987,300,000",216.79
56,"Aug 08, 2017",3370.22,3484.85,3345.83,3419.94,"1,752,760,000","55,590,300,000",139.02
55,"Aug 09, 2017",3420.40,3422.76,3247.67,3342.47,"1,468,960,000","56,424,900,000",175.09
54,"Aug 10, 2017",3341.84,3453.45,3319.47,3381.28,"1,515,110,000","55,134,700,000",133.98
53,"Aug 11, 2017",3373.82,3679.72,3372.12,3650.62,"2,021,190,000","55,668,000,000",307.60
52,"Aug 12, 2017",3650.63,3949.92,3613.70,3884.71,"2,219,590,000","60,242,100,000",336.22
20,"Sep 13, 2017",4131.98,4131.98,3789.92,3882.59,"2,219,410,000","68,432,200,000",342.06
19,"Sep 14, 2017",3875.37,3920.60,3153.86,3154.95,"2,716,310,000","64,191,600,000",766.74
18,"Sep 15, 2017",3166.30,3733.45,2946.62,3637.52,"4,148,070,000","52,453,500,000",786.83
17,"Sep 16, 2017",3637.75,3808.84,3487.79,3625.04,"1,818,400,000","60,271,600,000",321.05
16,"Sep 17, 2017",3606.28,3664.81,3445.64,3582.88,"1,239,150,000","59,757,800,000",219.17
14,"Sep 19, 2017",4073.79,4094.07,3868.87,3924.97,"1,563,980,000","67,520,300,000",225.20
13,"Sep 20, 2017",3916.36,4031.39,3857.73,3905.95,"1,213,830,000","64,918,500,000",173.66
12,"Sep 21, 2017",3901.47,3916.42,3613.63,3631.04,"1,411,480,000","64,677,600,000",302.79
11,"Sep 22, 2017",3628.02,3758.27,3553.53,3630.70,"1,194,830,000","60,152,300,000",204.74
10,"Sep 23, 2017",3629.92,3819.21,3594.58,3792.40,"928,114,000","60,190,000,000",224.63
9,"Sep 24, 2017",3796.15,3796.15,3666.90,3682.84,"768,015,000","62,954,300,000",129.25
8,"Sep 25, 2017",3681.58,3950.25,3681.58,3926.07,"1,374,210,000","61,061,100,000",268.67
7,"Sep 26, 2017",3928.41,3969.89,3869.90,3892.35,"1,043,740,000","65,161,000,000",99.99

In [25]:
# Calculate the number of days
iteration_len = len(new_df)
iteration_len

21

### Query prices from 4000 to 5000

In [26]:
btc_iteration2 = btc_df[(btc_df['Close']>4000) & (btc_df['Close']<5000)]
# btc_iteration['Date'] = pd.to_datetime(btc_df.Date)
btc_iteration2.sort_values(by='Date')
btc_iteration2

,Date,Open,High,Low,Close,Volume,Market Cap,Daily Range
0,"Oct 03, 2017",4408.46,4432.47,4258.89,4317.48,"1,288,020,000","73,181,300,000",173.58
1,"Oct 02, 2017",4395.81,4470.23,4377.46,4409.32,"1,431,730,000","72,963,200,000",92.77
2,"Oct 01, 2017",4341.05,4403.74,4269.81,4403.74,"1,208,210,000","72,047,300,000",133.93
3,"Sep 30, 2017",4166.11,4358.43,4160.86,4338.71,"1,207,450,000","69,136,600,000",197.57
4,"Sep 29, 2017",4171.62,4214.63,4039.29,4163.07,"1,367,050,000","69,219,200,000",175.34
5,"Sep 28, 2017",4197.13,4279.31,4109.70,4174.73,"1,712,320,000","69,633,200,000",169.61
6,"Sep 27, 2017",3892.94,4210.05,3884.82,4200.67,"1,686,880,000","64,579,200,000",325.23
15,"Sep 18, 2017",3591.09,4079.23,3591.09,4065.20,"1,943,210,000","59,514,100,000",488.14
21,"Sep 12, 2017",4168.88,4344.65,4085.22,4130.81,"1,864,530,000","69,033,400,000",259.43
22,"Sep 11, 2017",4122.47,4261.67,4099.40,4161.27,"1,557,330,000","68,256,000,000",162.27
23,"Sep 10, 2017",4229.34,4245.44,3951.04,4122.94,"1,679,090,000","70,018,100,000",294.40
24,"Sep 09, 2017",4229.81,4308.82,4114.11,4226.06,"1,386,230,000","70,017,200,000",194.71
25,"Sep 08, 2017",4605.16,4661.00,4075.18,4228.75,"2,700,890,000","76,220,200,000",585.82
26,"Sep 07, 2017",4589.14,4655.04,4491.33,4599.88,"1,844,620,000","75,945,000,000",163.71
27,"Sep 06, 2017",4376.59,4617.25,4376.59,4597.12,"2,172,100,000","72,418,700,000",240.66
28,"Sep 05, 2017",4228.29,4427.84,3998.11,4376.53,"2,697,970,000","69,954,400,000",429.73
29,"Sep 04, 2017",4591.63,4591.63,4108.40,4236.31,"2,987,330,000","75,955,500,000",483.23
30,"Sep 03, 2017",4585.27,4714.08,4417.59,4582.96,"1,933,190,000","75,841,700,000",296.49
31,"Sep 02, 2017",4901.42,4975.04,4469.24,4578.77,"2,722,140,000","81,060,600,000",505.80
32,"Sep 01, 2017",4701.76,4892.01,4678.53,4892.01,"2,599,080,000","77,748,400,000",213.48
33,"Aug 31, 2017",4555.59,4736.05,4549.40,4703.39,"1,944,930,000","75,322,300,000",186.65
34,"Aug 30, 2017",4570.36,4626.52,4471.41,4565.30,"1,937,850,000","75,556,600,000",155.11
35,"Aug 29, 2017",4389.21,4625.68,4352.13,4579.02,"2,486,080,000","72,553,800,000",273.55
36,"Aug 28, 2017",4384.45,4403.93,4224.64,4382.66,"1,959,330,000","72,467,900,000",179.29
37,"Aug 27, 2017",4345.10,4416.59,4317.29,4382.88,"1,537,460,000","71,809,200,000",99.30
38,"Aug 26, 2017",4372.06,4379.28,4269.52,4352.40,"1,511,610,000","72,249,100,000",109.76
39,"Aug 25, 2017",4332.82,4455.70,4307.35,4371.60,"1,727,970,000","71,595,100,000",148.35
40,"Aug 24, 2017",4137.60,4376.39,4130.26,4334.68,"2,037,750,000","68,363,900,000",246.13
41,"Aug 23, 2017",4089.01,4255.78,4078.41,4151.52,"2,369,820,000","67,553,000,000",177.37
42,"Aug 22, 2017",3998.35,4128.76,3674.58,4100.52,"3,764,240,000","66,051,000,000",454.18
43,"Aug 21, 2017",4090.48,4109.14,3988.60,4001.74,"2,800,890,000","67,567,100,000",120.54
44,"Aug 20, 2017",4189.31,4196.29,4069.88,4087.66,"2,109,770,000","69,192,700,000",126.41
45,"Aug 19, 2017",4137.75,4243.26,3970.55,4193.70,"2,975,820,000","68,333,100,000",272.71
46,"Aug 18, 2017",4324.34,4370.13,4015.40,4160.62,"2,941,710,000","71,406,500,000",354.73
47,"Aug 17, 2017",4384.44,4484.70,4243.71,4331.69,"2,553,360,000","72,389,100,000",240.99
48,"Aug 16, 2017",4200.34,4381.23,3994.42,4376.63,"2,272,040,000","69,342,700,000",386.81
49,"Aug 15, 2017",4326.99,4455.97,3906.18,4181.93,"3,258,050,000","71,425,500,000",549.79
50,"Aug 14, 2017",4066.10,4325.13,3989.16,4325.13,"2,463,090,000","67,112,300,000",335.97
51,"Aug 13, 2017",3880.04,4208.39,3857.80,4073.26,"3,159,090,000","64,034,100,000",350.59

In [30]:
# Calculate the number of days
iteration2_len = len(btc_iteration2)
iteration2_len

39

In [34]:
# Testing
btc_iteration3 = btc_df[(btc_df['Close']>1000) & (btc_df['Close']<2000)]
btc_iteration3

,Date,Open,High,Low,Close,Volume,Market Cap,Daily Range
79,"Jul 16, 2017",1991.98,2058.77,1843.03,1929.82,"1,182,870,000","32,767,600,000",215.74
80,"Jul 15, 2017",2230.12,2231.14,1990.41,1998.86,"993,608,000","36,681,300,000",240.73
137,"May 19, 2017",1897.37,2004.52,1890.25,1987.71,"1,157,290,000","30,999,000,000",114.27
138,"May 18, 2017",1818.70,1904.48,1807.12,1888.65,"894,321,000","29,710,500,000",97.36
139,"May 17, 2017",1726.73,1864.05,1661.91,1839.09,"1,064,730,000","28,204,800,000",202.14
140,"May 16, 2017",1741.70,1785.94,1686.54,1734.45,"959,045,000","28,446,300,000",99.40
141,"May 15, 2017",1808.44,1812.80,1708.54,1738.43,"731,529,000","29,532,600,000",104.26
142,"May 14, 2017",1800.86,1831.42,1776.62,1808.91,"437,196,000","29,405,100,000",54.80
143,"May 13, 2017",1723.12,1812.99,1651.08,1804.91,"579,635,000","28,132,300,000",161.91
144,"May 12, 2017",1845.76,1856.15,1694.01,1724.24,"740,984,000","30,131,100,000",162.14
145,"May 11, 2017",1780.37,1873.93,1755.35,1848.57,"799,490,000","29,060,600,000",118.58
146,"May 10, 2017",1756.52,1788.44,1719.10,1787.13,"915,723,000","28,668,100,000",69.34
147,"May 09, 2017",1723.89,1833.49,1716.30,1755.36,"1,167,920,000","28,132,200,000",117.19
148,"May 08, 2017",1596.92,1723.35,1596.92,1723.35,"1,340,320,000","26,056,500,000",126.43
149,"May 07, 2017",1579.47,1596.72,1559.76,1596.71,"1,080,030,000","25,768,500,000",36.96
150,"May 06, 2017",1556.81,1578.80,1542.50,1578.80,"582,530,000","25,395,600,000",36.30
151,"May 05, 2017",1540.87,1618.03,1530.31,1555.45,"946,036,000","25,133,100,000",87.72
152,"May 04, 2017",1490.72,1608.91,1490.72,1537.67,"933,549,000","24,311,900,000",118.19
153,"May 03, 2017",1453.78,1492.77,1447.49,1490.09,"583,796,000","23,707,100,000",45.28
154,"May 02, 2017",1421.03,1473.90,1415.69,1452.82,"477,338,000","23,170,200,000",58.21
155,"May 01, 2017",1348.30,1434.32,1348.30,1421.60,"713,624,000","21,981,800,000",86.02
156,"Apr 30, 2017",1321.87,1347.91,1314.92,1347.89,"413,115,000","21,548,400,000",32.99
157,"Apr 29, 2017",1317.84,1327.20,1315.21,1321.79,"422,706,000","21,479,800,000",11.99
158,"Apr 28, 2017",1317.74,1331.28,1292.37,1316.48,"527,489,000","21,476,000,000",38.91
159,"Apr 27, 2017",1281.88,1319.70,1281.30,1317.73,"449,197,000","20,889,200,000",38.40
160,"Apr 26, 2017",1265.99,1294.83,1265.93,1281.08,"329,631,000","20,627,900,000",28.90
161,"Apr 25, 2017",1250.45,1267.58,1249.97,1265.49,"242,556,000","20,372,300,000",17.61
162,"Apr 24, 2017",1209.63,1250.94,1209.63,1250.15,"235,806,000","19,705,400,000",41.31
163,"Apr 23, 2017",1231.92,1232.20,1203.94,1207.21,"258,951,000","20,066,200,000",28.26
164,"Apr 22, 2017",1222.71,1235.56,1208.47,1231.71,"249,320,000","19,913,900,000",27.09
...,...,...,...,...,...,...,...,...
222,"Feb 23, 2017",1117.27,1176.62,1116.96,1166.72,"189,454,000","18,075,200,000",59.66
223,"Feb 22, 2017",1114.80,1125.39,1100.55,1117.44,"136,100,000","18,033,400,000",24.84
224,"Feb 21, 2017",1079.28,1117.25,1076.93,1115.30,"186,869,000","17,456,900,000",40.32
225,"Feb 20, 2017",1048.69,1080.49,1041.69,1079.98,"109,478,000","16,960,200,000",38.80
226,"Feb 19, 2017",1054.76,1056.81,1043.46,1047.87,"77,423,300","17,056,600,000",13.35
227,"Feb 18, 2017",1049.21,1061.10,1046.96,1054.42,"99,073,500","16,964,800,000",14.14
228,"Feb 17, 2017",1026.12,1053.17,1025.64,1046.21,"136,474,000","16,589,600,000",27.53
229,"Feb 16, 2017",1007.65,1033.37,1007.65,1027.44,"122,277,000","16,289,100,000",25.72
230,"Feb 15, 2017",1006.21,1008.84,1001.58,1007.48,"89,759,400","16,264,100,000",7.26
231,"Feb 14, 2017",991.74,1011.51,986.47,1004.55,"137,946,000","16,028,000,000",25.04
234,"Feb 11, 2017",988.90,1009.29,982.83,1004.45,"102,261,000","15,976,700,000",26.46
237,"Feb 08, 2017",1062.32,1078.97,1037.49,1063.07,"201,855,000","17,156,700,000",41.48
238,"Feb 07, 2017",1040.14,1061.93,1040.14,1061.35,"146,007,000","16,796,600,000",21.79
239,"Feb 06, 2017",1028.40,1044.64,1028.16,1038.15,"111,762,000","16,605,400,000",16.48
240,"Feb 05, 2017",1043.52,1043.63,1022.37,1027.34,"114,208,000","16,847,400,000",21.26
241,"Feb 04, 2017",1031.33,1045.90,1015.16,1042.90,"155,064,000","16,648,800,000",30.74
242,"Feb 03, 2017",1011.46,1033.87,1008.79,1029.91,"201,278,000","16,326,100,000",25.08
243,"Feb 02, 2017",990.00,1013.52,983.22,1011.80,"145,821,000","15,977,800,000",30.30
271,"Jan 05, 2017",1156.73,1191.10,910.42,1013.38,"510,199,000","18,604,000,000",280.68
272,"Jan 04, 2017",1044.40,1159.42,1044.40,1154.73,"344,946,000","16,795,400,000",115.02
273,"Jan 03, 2017",1021.60,1044.08,1021.60,1043.84,"185,168,000","16,426,600,000",22.48
274,"Jan 02, 2017",998.62,1031.39,996.70,1021.75,"222,185,000","16,055,100,000",34.69
1398,"Dec 05, 2013",1152.73,1154.36,897.11,1045.11,-,"13,922,300,000",257.25
1399,"Dec 04, 2013",1077.58,1156.12,1070.16,1151.17,-,"13,010,000,000",85.96
1400,"Dec 03, 2013",1046.40,1096.00,1011.21,1078.28,-,"12,628,300,000",84.79
1401,"Dec 02, 2013",951.42,1055.42,938.41,1043.33,-,"11,478,300,000",117.01
1403,"Nov 30, 2013",1129.37,1156.14,1106.61,1129.43,-,"13,614,700,000",49.53
1404,"Nov 29, 2013",1042.01,1146.97,1000.64,1131.97,-,"12,557,100,000",146.33
1405,"Nov 28, 2013",1003.38,1077.56,962.17,1031.95,-,"12,087,000,000",115.39
1406,"Nov 27, 2013",923.85,1001.96,891.68,1001.96,-,"11,124,900,000",110.28

# Wise Times To Buy

In [7]:
avg_daily_range = btc_df['Daily Range'].mean()
# btc_df[btc_df['Close']>btc_df['Open']]
# btc_df[btc_df['Close']>btc_df['Open']].sort_values(btc_df['Date'])
new_btc_df = btc_df[(btc_df['High'] > btc_df['Low']) & (btc_df['Daily Range'] > 300)]
new_btc_df

,Date,Open,High,Low,Close,Volume,Market Cap,Daily Range
6,"Sep 27, 2017",3892.94,4210.05,3884.82,4200.67,"1,686,880,000","64,579,200,000",325.23
12,"Sep 21, 2017",3901.47,3916.42,3613.63,3631.04,"1,411,480,000","64,677,600,000",302.79
15,"Sep 18, 2017",3591.09,4079.23,3591.09,4065.20,"1,943,210,000","59,514,100,000",488.14
17,"Sep 16, 2017",3637.75,3808.84,3487.79,3625.04,"1,818,400,000","60,271,600,000",321.05
18,"Sep 15, 2017",3166.30,3733.45,2946.62,3637.52,"4,148,070,000","52,453,500,000",786.83
19,"Sep 14, 2017",3875.37,3920.60,3153.86,3154.95,"2,716,310,000","64,191,600,000",766.74
20,"Sep 13, 2017",4131.98,4131.98,3789.92,3882.59,"2,219,410,000","68,432,200,000",342.06
25,"Sep 08, 2017",4605.16,4661.00,4075.18,4228.75,"2,700,890,000","76,220,200,000",585.82
28,"Sep 05, 2017",4228.29,4427.84,3998.11,4376.53,"2,697,970,000","69,954,400,000",429.73
29,"Sep 04, 2017",4591.63,4591.63,4108.40,4236.31,"2,987,330,000","75,955,500,000",483.23
31,"Sep 02, 2017",4901.42,4975.04,4469.24,4578.77,"2,722,140,000","81,060,600,000",505.80
42,"Aug 22, 2017",3998.35,4128.76,3674.58,4100.52,"3,764,240,000","66,051,000,000",454.18
46,"Aug 18, 2017",4324.34,4370.13,4015.40,4160.62,"2,941,710,000","71,406,500,000",354.73
48,"Aug 16, 2017",4200.34,4381.23,3994.42,4376.63,"2,272,040,000","69,342,700,000",386.81
49,"Aug 15, 2017",4326.99,4455.97,3906.18,4181.93,"3,258,050,000","71,425,500,000",549.79
50,"Aug 14, 2017",4066.10,4325.13,3989.16,4325.13,"2,463,090,000","67,112,300,000",335.97
51,"Aug 13, 2017",3880.04,4208.39,3857.80,4073.26,"3,159,090,000","64,034,100,000",350.59
52,"Aug 12, 2017",3650.63,3949.92,3613.70,3884.71,"2,219,590,000","60,242,100,000",336.22
53,"Aug 11, 2017",3373.82,3679.72,3372.12,3650.62,"2,021,190,000","55,668,000,000",307.60
59,"Aug 05, 2017",2897.63,3290.01,2874.83,3252.91,"1,945,700,000","47,778,200,000",415.18
75,"Jul 20, 2017",2269.89,2900.70,2269.89,2817.60,"2,249,260,000","37,356,800,000",630.81
88,"Jul 07, 2017",2608.59,2916.14,2498.87,2518.66,"917,412,000","42,864,200,000",417.27
110,"Jun 15, 2017",2499.58,2534.71,2212.96,2464.58,"2,026,260,000","40,971,300,000",321.75
111,"Jun 14, 2017",2716.88,2786.83,2412.94,2506.37,"1,696,560,000","44,528,300,000",373.89
113,"Jun 12, 2017",2953.22,2997.26,2518.56,2659.63,"2,569,530,000","48,391,200,000",478.70
119,"Jun 06, 2017",2690.84,2999.91,2690.84,2863.20,"2,089,610,000","44,061,000,000",309.07
129,"May 27, 2017",2196.27,2260.20,1855.83,2038.87,"1,700,480,000","35,917,100,000",404.37
130,"May 26, 2017",2320.89,2573.79,2071.99,2202.42,"1,763,480,000","37,950,600,000",501.80
131,"May 25, 2017",2446.24,2763.71,2285.30,2304.98,"2,406,700,000","39,995,400,000",478.41
1402,"Dec 01, 2013",1128.92,1133.08,801.82,955.85,-,"13,614,300,000",331.26
1414,"Nov 19, 2013",712.76,806.11,456.39,584.61,-,"8,559,550,000",349.72

In [8]:
totalDays = len(new_btc_df)
totalDays

31