In [5]:
import pandas as pd
import numpy as np

btc_df = pd.read_csv('/Users/troy/Github/courses/crypto-pirates/Datasets/bitcoin_price.csv')
btc_df['Daily Range'] = btc_df['High'] - btc_df['Low']

# Volume Operations

In [6]:
btc_df['Volume'].replace(to_replace="[a-zA-Z]", value='', 
regex=True, inplace=True)
# btc_df['Volume'].mean()

# Wise Times To Buy

In [7]:
avg_daily_range = btc_df['Daily Range'].mean()
# btc_df[btc_df['Close']>btc_df['Open']]
# btc_df[btc_df['Close']>btc_df['Open']].sort_values(btc_df['Date'])
new_btc_df = btc_df[(btc_df['High'] > btc_df['Low']) & (btc_df['Daily Range'] > 300)]
new_btc_df

,Date,Open,High,Low,Close,Volume,Market Cap,Daily Range
6,"Sep 27, 2017",3892.94,4210.05,3884.82,4200.67,"1,686,880,000","64,579,200,000",325.23
12,"Sep 21, 2017",3901.47,3916.42,3613.63,3631.04,"1,411,480,000","64,677,600,000",302.79
15,"Sep 18, 2017",3591.09,4079.23,3591.09,4065.20,"1,943,210,000","59,514,100,000",488.14
17,"Sep 16, 2017",3637.75,3808.84,3487.79,3625.04,"1,818,400,000","60,271,600,000",321.05
18,"Sep 15, 2017",3166.30,3733.45,2946.62,3637.52,"4,148,070,000","52,453,500,000",786.83
19,"Sep 14, 2017",3875.37,3920.60,3153.86,3154.95,"2,716,310,000","64,191,600,000",766.74
20,"Sep 13, 2017",4131.98,4131.98,3789.92,3882.59,"2,219,410,000","68,432,200,000",342.06
25,"Sep 08, 2017",4605.16,4661.00,4075.18,4228.75,"2,700,890,000","76,220,200,000",585.82
28,"Sep 05, 2017",4228.29,4427.84,3998.11,4376.53,"2,697,970,000","69,954,400,000",429.73
29,"Sep 04, 2017",4591.63,4591.63,4108.40,4236.31,"2,987,330,000","75,955,500,000",483.23
31,"Sep 02, 2017",4901.42,4975.04,4469.24,4578.77,"2,722,140,000","81,060,600,000",505.80
42,"Aug 22, 2017",3998.35,4128.76,3674.58,4100.52,"3,764,240,000","66,051,000,000",454.18
46,"Aug 18, 2017",4324.34,4370.13,4015.40,4160.62,"2,941,710,000","71,406,500,000",354.73
48,"Aug 16, 2017",4200.34,4381.23,3994.42,4376.63,"2,272,040,000","69,342,700,000",386.81
49,"Aug 15, 2017",4326.99,4455.97,3906.18,4181.93,"3,258,050,000","71,425,500,000",549.79
50,"Aug 14, 2017",4066.10,4325.13,3989.16,4325.13,"2,463,090,000","67,112,300,000",335.97
51,"Aug 13, 2017",3880.04,4208.39,3857.80,4073.26,"3,159,090,000","64,034,100,000",350.59
52,"Aug 12, 2017",3650.63,3949.92,3613.70,3884.71,"2,219,590,000","60,242,100,000",336.22
53,"Aug 11, 2017",3373.82,3679.72,3372.12,3650.62,"2,021,190,000","55,668,000,000",307.60
59,"Aug 05, 2017",2897.63,3290.01,2874.83,3252.91,"1,945,700,000","47,778,200,000",415.18
75,"Jul 20, 2017",2269.89,2900.70,2269.89,2817.60,"2,249,260,000","37,356,800,000",630.81
88,"Jul 07, 2017",2608.59,2916.14,2498.87,2518.66,"917,412,000","42,864,200,000",417.27
110,"Jun 15, 2017",2499.58,2534.71,2212.96,2464.58,"2,026,260,000","40,971,300,000",321.75
111,"Jun 14, 2017",2716.88,2786.83,2412.94,2506.37,"1,696,560,000","44,528,300,000",373.89
113,"Jun 12, 2017",2953.22,2997.26,2518.56,2659.63,"2,569,530,000","48,391,200,000",478.70
119,"Jun 06, 2017",2690.84,2999.91,2690.84,2863.20,"2,089,610,000","44,061,000,000",309.07
129,"May 27, 2017",2196.27,2260.20,1855.83,2038.87,"1,700,480,000","35,917,100,000",404.37
130,"May 26, 2017",2320.89,2573.79,2071.99,2202.42,"1,763,480,000","37,950,600,000",501.80
131,"May 25, 2017",2446.24,2763.71,2285.30,2304.98,"2,406,700,000","39,995,400,000",478.41
1402,"Dec 01, 2013",1128.92,1133.08,801.82,955.85,-,"13,614,300,000",331.26
1414,"Nov 19, 2013",712.76,806.11,456.39,584.61,-,"8,559,550,000",349.72

In [8]:
totalDays = len(new_btc_df)
totalDays

31