In [2]:
import numpy as np
import pandas as pd

In [3]:
btc_df = pd.read_csv('/Users/troy/Github/courses/crypto-pirates/Datasets/bitcoin_price.csv')
new_index = btc_df['Date']
btc_df.head()

,Date,Open,High,Low,Close,Volume,Market Cap
0,"Oct 03, 2017",4408.46,4432.47,4258.89,4317.48,"1,288,020,000","73,181,300,000"
1,"Oct 02, 2017",4395.81,4470.23,4377.46,4409.32,"1,431,730,000","72,963,200,000"
2,"Oct 01, 2017",4341.05,4403.74,4269.81,4403.74,"1,208,210,000","72,047,300,000"
3,"Sep 30, 2017",4166.11,4358.43,4160.86,4338.71,"1,207,450,000","69,136,600,000"
4,"Sep 29, 2017",4171.62,4214.63,4039.29,4163.07,"1,367,050,000","69,219,200,000"

# Adding Columns

Here I am adding a new column to the data frame where the value takes in an operation of two columns.

In [4]:
btc_df['Daily Range'] = btc_df['High'] - btc_df['Low']
btc_df.head()

,Date,Open,High,Low,Close,Volume,Market Cap,Daily Range
0,"Oct 03, 2017",4408.46,4432.47,4258.89,4317.48,"1,288,020,000","73,181,300,000",173.58
1,"Oct 02, 2017",4395.81,4470.23,4377.46,4409.32,"1,431,730,000","72,963,200,000",92.77
2,"Oct 01, 2017",4341.05,4403.74,4269.81,4403.74,"1,208,210,000","72,047,300,000",133.93
3,"Sep 30, 2017",4166.11,4358.43,4160.86,4338.71,"1,207,450,000","69,136,600,000",197.57
4,"Sep 29, 2017",4171.62,4214.63,4039.29,4163.07,"1,367,050,000","69,219,200,000",175.34

This is the mean of Daily Range

In [5]:
btc_df['Daily Range'].mean()

39.378987654320987

In [89]:
'''
1. Add new column. 2. Define Conditions. 3. Change necessary value to the column that meets the condition.
'''

btc_df['Significant'] = ''

cond1 = btc_df['Daily Range'] > btc_df['Daily Range'].mean()
cond2 = btc_df['Daily Range'] < btc_df['Daily Range'].mean()

yes = btc_df[cond1]
no = btc_df[cond2]

column = 'Significant'
btc_df.loc[cond1, column] = 'Yes'
btc_df.loc[cond2, column] = 'No'
btc_df.set_index('Significant')

,Date,Open,High,Low,Close,Volume,Market Cap,Daily Range
Significant,,,,,,,,
Yes,"Oct 03, 2017",4408.46,4432.47,4258.89,4317.48,"1,288,020,000","73,181,300,000",173.58
Yes,"Oct 02, 2017",4395.81,4470.23,4377.46,4409.32,"1,431,730,000","72,963,200,000",92.77
Yes,"Oct 01, 2017",4341.05,4403.74,4269.81,4403.74,"1,208,210,000","72,047,300,000",133.93
Yes,"Sep 30, 2017",4166.11,4358.43,4160.86,4338.71,"1,207,450,000","69,136,600,000",197.57
Yes,"Sep 29, 2017",4171.62,4214.63,4039.29,4163.07,"1,367,050,000","69,219,200,000",175.34
Yes,"Sep 28, 2017",4197.13,4279.31,4109.70,4174.73,"1,712,320,000","69,633,200,000",169.61
Yes,"Sep 27, 2017",3892.94,4210.05,3884.82,4200.67,"1,686,880,000","64,579,200,000",325.23
Yes,"Sep 26, 2017",3928.41,3969.89,3869.90,3892.35,"1,043,740,000","65,161,000,000",99.99
Yes,"Sep 25, 2017",3681.58,3950.25,3681.58,3926.07,"1,374,210,000","61,061,100,000",268.67
Yes,"Sep 24, 2017",3796.15,3796.15,3666.90,3682.84,"768,015,000","62,954,300,000",129.25
Yes,"Sep 23, 2017",3629.92,3819.21,3594.58,3792.40,"928,114,000","60,190,000,000",224.63
Yes,"Sep 22, 2017",3628.02,3758.27,3553.53,3630.70,"1,194,830,000","60,152,300,000",204.74
Yes,"Sep 21, 2017",3901.47,3916.42,3613.63,3631.04,"1,411,480,000","64,677,600,000",302.79
Yes,"Sep 20, 2017",3916.36,4031.39,3857.73,3905.95,"1,213,830,000","64,918,500,000",173.66
Yes,"Sep 19, 2017",4073.79,4094.07,3868.87,3924.97,"1,563,980,000","67,520,300,000",225.20
Yes,"Sep 18, 2017",3591.09,4079.23,3591.09,4065.20,"1,943,210,000","59,514,100,000",488.14
Yes,"Sep 17, 2017",3606.28,3664.81,3445.64,3582.88,"1,239,150,000","59,757,800,000",219.17
Yes,"Sep 16, 2017",3637.75,3808.84,3487.79,3625.04,"1,818,400,000","60,271,600,000",321.05
Yes,"Sep 15, 2017",3166.30,3733.45,2946.62,3637.52,"4,148,070,000","52,453,500,000",786.83
Yes,"Sep 14, 2017",3875.37,3920.60,3153.86,3154.95,"2,716,310,000","64,191,600,000",766.74
Yes,"Sep 13, 2017",4131.98,4131.98,3789.92,3882.59,"2,219,410,000","68,432,200,000",342.06
Yes,"Sep 12, 2017",4168.88,4344.65,4085.22,4130.81,"1,864,530,000","69,033,400,000",259.43
Yes,"Sep 11, 2017",4122.47,4261.67,4099.40,4161.27,"1,557,330,000","68,256,000,000",162.27
Yes,"Sep 10, 2017",4229.34,4245.44,3951.04,4122.94,"1,679,090,000","70,018,100,000",294.40
Yes,"Sep 09, 2017",4229.81,4308.82,4114.11,4226.06,"1,386,230,000","70,017,200,000",194.71
Yes,"Sep 08, 2017",4605.16,4661.00,4075.18,4228.75,"2,700,890,000","76,220,200,000",585.82
Yes,"Sep 07, 2017",4589.14,4655.04,4491.33,4599.88,"1,844,620,000","75,945,000,000",163.71
Yes,"Sep 06, 2017",4376.59,4617.25,4376.59,4597.12,"2,172,100,000","72,418,700,000",240.66
Yes,"Sep 05, 2017",4228.29,4427.84,3998.11,4376.53,"2,697,970,000","69,954,400,000",429.73
Yes,"Sep 04, 2017",4591.63,4591.63,4108.40,4236.31,"2,987,330,000","75,955,500,000",483.23
...,...,...,...,...,...,...,...,...
No,"May 27, 2013",133.50,135.47,124.70,129.75,-,"1,495,520,000",10.77
No,"May 26, 2013",131.99,136.00,130.62,133.48,-,"1,478,030,000",5.38
No,"May 25, 2013",133.10,133.22,128.90,131.98,-,"1,489,950,000",4.32
No,"May 24, 2013",126.30,133.85,125.72,133.20,-,"1,413,300,000",8.13
No,"May 23, 2013",123.80,126.93,123.10,126.70,-,"1,384,780,000",3.83
No,"May 22, 2013",122.89,124.00,122.00,123.89,-,"1,374,130,000",2.00
No,"May 21, 2013",122.02,123.00,121.21,122.88,-,"1,363,940,000",1.79
No,"May 20, 2013",122.50,123.62,120.12,122.00,-,"1,368,910,000",3.50
No,"May 19, 2013",123.21,124.50,119.57,121.99,-,"1,376,370,000",4.93
No,"May 18, 2013",123.50,125.25,122.30,123.50,-,"1,379,140,000",2.95
No,"May 17, 2013",118.21,125.30,116.57,123.02,-,"1,319,590,000",8.73
No,"May 16, 2013",114.22,118.76,112.20,118.76,-,"1,274,620,000",6.56
No,"May 15, 2013",111.40,115.81,103.50,114.22,-,"1,242,760,000",12.31
No,"May 14, 2013",117.98,119.80,110.25,111.50,-,"1,315,720,000",9.55
No,"May 13, 2013",114.82,118.70,114.50,117.98,-,"1,279,980,000",4.20
No,"May 12, 2013",115.64,117.45,113.44,115.00,-,"1,288,630,000",4.01
No,"May 11, 2013",117.70,118.68,113.01,115.24,-,"1,311,050,000",5.67
No,"May 10, 2013",112.80,122.00,111.55,117.20,-,"1,255,970,000",10.45
No,"May 09, 2013",113.20,113.46,109.26,112.67,-,"1,259,980,000",4.20
No,"May 08, 2013",109.60,115.78,109.60,113.57,-,"1,219,450,000",6.18
No,"May 07, 2013",112.25,113.44,97.70,111.50,-,"1,248,470,000",15.74
No,"May 06, 2013",115.98,124.66,106.64,112.30,-,"1,289,470,000",18.02
No,"May 05, 2013",112.90,118.80,107.14,115.91,-,"1,254,760,000",11.66
No,"May 04, 2013",98.10,115.00,92.50,112.50,-,"1,089,890,000",22.50
No,"May 03, 2013",106.25,108.13,79.10,97.75,-,"1,180,070,000",29.03
No,"May 02, 2013",116.38,125.60,92.28,105.21,-,"1,292,190,000",33.32
No,"May 01, 2013",139.00,139.89,107.72,116.99,-,"1,542,820,000",32.17
No,"Apr 30, 2013",144.00,146.93,134.05,139.00,-,"1,597,780,000",12.88
No,"Apr 29, 2013",134.44,147.49,134.00,144.54,-,"1,491,160,000",13.49
No,"Apr 28, 2013",135.30,135.98,132.10,134.21,-,"1,500,520,000",3.88

## Read Mulitple Data Frames

In [6]:
df1 = pd.read_csv('/Users/newuser/Dropbox/Datamining/Crypto-Pirates/Datasets/bitcoin_price.csv')
df2 = pd.read_csv('/Users/newuser/Dropbox/Datamining/Crypto-Pirates/Datasets/monero_price.csv')
df3 = pd.read_csv('/Users/newuser/Dropbox/Datamining/Crypto-Pirates/Datasets/litecoin_price.csv')
df4 = pd.read_csv('/Users/newuser/Dropbox/Datamining/Crypto-Pirates/Datasets/ethereum_price.csv')

# Concatenating Multiple Data Frames

Before I concatenate multiple data frames, I first added a new column to each data frame which is going to be used for map reducing later.

In [9]:
df1['CC'] = 'Bitcoin'
df2['CC'] = 'Monero'
df3['CC'] = 'Litecoin'
master_df = pd.concat([df1,df2,df3])
# set new index
master_df.set_index('CC', inplace=True)
master_df

,Date,Open,High,Low,Close,Volume,Market Cap
CC,,,,,,,
Bitcoin,"Oct 03, 2017",4408.46,4432.47,4258.89,4317.48,"1,288,020,000","73,181,300,000"
Bitcoin,"Oct 02, 2017",4395.81,4470.23,4377.46,4409.32,"1,431,730,000","72,963,200,000"
Bitcoin,"Oct 01, 2017",4341.05,4403.74,4269.81,4403.74,"1,208,210,000","72,047,300,000"
Bitcoin,"Sep 30, 2017",4166.11,4358.43,4160.86,4338.71,"1,207,450,000","69,136,600,000"
Bitcoin,"Sep 29, 2017",4171.62,4214.63,4039.29,4163.07,"1,367,050,000","69,219,200,000"
Bitcoin,"Sep 28, 2017",4197.13,4279.31,4109.70,4174.73,"1,712,320,000","69,633,200,000"
Bitcoin,"Sep 27, 2017",3892.94,4210.05,3884.82,4200.67,"1,686,880,000","64,579,200,000"
Bitcoin,"Sep 26, 2017",3928.41,3969.89,3869.90,3892.35,"1,043,740,000","65,161,000,000"
Bitcoin,"Sep 25, 2017",3681.58,3950.25,3681.58,3926.07,"1,374,210,000","61,061,100,000"
Bitcoin,"Sep 24, 2017",3796.15,3796.15,3666.90,3682.84,"768,015,000","62,954,300,000"
Bitcoin,"Sep 23, 2017",3629.92,3819.21,3594.58,3792.40,"928,114,000","60,190,000,000"
Bitcoin,"Sep 22, 2017",3628.02,3758.27,3553.53,3630.70,"1,194,830,000","60,152,300,000"
Bitcoin,"Sep 21, 2017",3901.47,3916.42,3613.63,3631.04,"1,411,480,000","64,677,600,000"
Bitcoin,"Sep 20, 2017",3916.36,4031.39,3857.73,3905.95,"1,213,830,000","64,918,500,000"
Bitcoin,"Sep 19, 2017",4073.79,4094.07,3868.87,3924.97,"1,563,980,000","67,520,300,000"
Bitcoin,"Sep 18, 2017",3591.09,4079.23,3591.09,4065.20,"1,943,210,000","59,514,100,000"
Bitcoin,"Sep 17, 2017",3606.28,3664.81,3445.64,3582.88,"1,239,150,000","59,757,800,000"
Bitcoin,"Sep 16, 2017",3637.75,3808.84,3487.79,3625.04,"1,818,400,000","60,271,600,000"
Bitcoin,"Sep 15, 2017",3166.30,3733.45,2946.62,3637.52,"4,148,070,000","52,453,500,000"
Bitcoin,"Sep 14, 2017",3875.37,3920.60,3153.86,3154.95,"2,716,310,000","64,191,600,000"
Bitcoin,"Sep 13, 2017",4131.98,4131.98,3789.92,3882.59,"2,219,410,000","68,432,200,000"
Bitcoin,"Sep 12, 2017",4168.88,4344.65,4085.22,4130.81,"1,864,530,000","69,033,400,000"
Bitcoin,"Sep 11, 2017",4122.47,4261.67,4099.40,4161.27,"1,557,330,000","68,256,000,000"
Bitcoin,"Sep 10, 2017",4229.34,4245.44,3951.04,4122.94,"1,679,090,000","70,018,100,000"
Bitcoin,"Sep 09, 2017",4229.81,4308.82,4114.11,4226.06,"1,386,230,000","70,017,200,000"
Bitcoin,"Sep 08, 2017",4605.16,4661.00,4075.18,4228.75,"2,700,890,000","76,220,200,000"
Bitcoin,"Sep 07, 2017",4589.14,4655.04,4491.33,4599.88,"1,844,620,000","75,945,000,000"
Bitcoin,"Sep 06, 2017",4376.59,4617.25,4376.59,4597.12,"2,172,100,000","72,418,700,000"
Bitcoin,"Sep 05, 2017",4228.29,4427.84,3998.11,4376.53,"2,697,970,000","69,954,400,000"
Bitcoin,"Sep 04, 2017",4591.63,4591.63,4108.40,4236.31,"2,987,330,000","75,955,500,000"
...,...,...,...,...,...,...,...
Litecoin,"May 27, 2013",3.23,3.26,3.02,3.10,-,"58,130,800"
Litecoin,"May 26, 2013",3.12,3.33,3.09,3.25,-,"56,123,900"
Litecoin,"May 25, 2013",3.19,3.20,3.05,3.12,-,"57,165,800"
Litecoin,"May 24, 2013",3.17,3.19,3.04,3.18,-,"56,747,200"
Litecoin,"May 23, 2013",3.12,3.19,3.09,3.18,-,"55,727,000"
Litecoin,"May 22, 2013",3.09,3.14,3.03,3.12,-,"55,165,300"
Litecoin,"May 21, 2013",3.19,3.22,3.04,3.09,-,"56,887,600"
Litecoin,"May 20, 2013",3.31,3.32,3.15,3.18,-,"58,962,900"
Litecoin,"May 19, 2013",3.30,3.41,3.19,3.30,-,"58,645,400"
Litecoin,"May 18, 2013",3.20,3.36,3.13,3.29,-,"56,721,100"
Litecoin,"May 17, 2013",2.89,3.34,2.87,3.19,-,"51,195,900"
Litecoin,"May 16, 2013",2.93,2.97,2.69,2.92,-,"51,790,900"
Litecoin,"May 15, 2013",2.82,3.04,2.64,2.94,-,"49,842,500"
Litecoin,"May 14, 2013",3.28,3.33,2.78,2.82,-,"57,812,000"
Litecoin,"May 13, 2013",3.26,3.37,3.20,3.28,-,"57,363,200"
Litecoin,"May 12, 2013",3.36,3.42,3.22,3.27,-,"59,052,900"
Litecoin,"May 11, 2013",3.46,3.48,3.30,3.35,-,"60,658,000"
Litecoin,"May 10, 2013",3.41,3.63,3.37,3.44,-,"59,588,000"
Litecoin,"May 09, 2013",3.40,3.44,3.29,3.42,-,"59,337,100"
Litecoin,"May 08, 2013",3.28,3.49,3.28,3.41,-,"57,196,300"
Litecoin,"May 07, 2013",3.37,3.41,2.94,3.33,-,"58,588,300"
Litecoin,"May 06, 2013",3.59,3.78,3.12,3.37,-,"62,356,000"
Litecoin,"May 05, 2013",3.49,3.69,3.35,3.59,-,"60,525,000"
Litecoin,"May 04, 2013",3.03,3.64,2.90,3.48,-,"52,476,400"
Litecoin,"May 03, 2013",3.39,3.45,2.40,3.04,-,"58,607,400"
Litecoin,"May 02, 2013",3.78,4.04,3.01,3.37,-,"65,242,700"
Litecoin,"May 01, 2013",4.29,4.36,3.52,3.80,-,"73,901,200"
Litecoin,"Apr 30, 2013",4.40,4.57,4.17,4.30,-,"75,726,800"
Litecoin,"Apr 29, 2013",4.37,4.57,4.23,4.38,-,"74,952,700"
Litecoin,"Apr 28, 2013",4.30,4.40,4.18,4.35,-,"73,773,400"

# Grouping by CC

The goal here is to aggregate data by cryptocurrency. We can approach this by creating a multi-level index that will map a new numerical index for each cc. In order to start the index hierarchy, we need to find the total number of tuples associated with eact cc and then use that number to index the tuples.

In [9]:
master_df.groupby('CC').mean()

                Open        High         Low       Close
CC
Bitcoin   716.325031  736.272765  696.893778  718.804210
Litecoin    9.302488    9.737444    8.843586    9.330123
Monero     10.668743   11.325722   10.091139   10.740487

In [10]:
master_df.groupby('CC').min()

,Date,Open,High,Low,Close,Volume,Market Cap
CC,,,,,,,
Bitcoin,"Apr 01, 2014",68.500000,74.560000,65.530000,68.430000,-,"1,000,070,000"
Litecoin,"Apr 01, 2014",1.150000,1.340000,1.110000,1.160000,-,"1,039,720,000"
Monero,"Apr 01, 2015",0.220121,0.251757,0.212967,0.223522,"1,037,600","1,166,240,000"

In [13]:
master_df.groupby('CC').max()

,Date,Open,High,Low,Close,Volume,Market Cap
CC,,,,,,,
Bitcoin,"Sep 30, 2017",4901.42,4975.04,4678.53,4892.01,"994,625,000","909,526,000"
Litecoin,"Sep 30, 2017",85.83,92.07,75.59,86.04,"993,855","99,946,000"
Monero,"Sep 30, 2017",144.24,154.58,136.49,145.40,"99,815","99,903,600"

In [15]:
# Count number of interations
master_df.groupby('CC').count()

          Date  Open  High   Low  Close  Volume  Market Cap
CC
Bitcoin   1620  1620  1620  1620   1620    1620        1620
Litecoin  1620  1620  1620  1620   1620    1620        1620
Monero    1231  1231  1231  1231   1231    1231        1231

In [16]:
master_df.groupby('CC').describe()

            Open                                                          \
           count        mean         std        min         25%      50%
CC
Bitcoin   1620.0  716.325031  841.566485  68.500000  261.080000  448.150
Litecoin  1620.0    9.302488   13.103364   1.150000    3.070000    3.845
Monero    1231.0   10.668743   22.366494   0.220121    0.514239    1.380

                               High               ...          Low           \
               75%      max   count        mean   ...          75%      max
CC                                                ...
Bitcoin   705.3475  4901.42  1620.0  736.272765   ...     688.0025  4678.53
Litecoin    8.6750    85.83  1620.0    9.737444   ...       8.4350    75.59
Monero      9.3800   144.24  1231.0   11.325722   ...       8.9800   136.49

           Close                                                         \
           count        mean         std        min         25%     50%
CC
Bitcoin   1620.0  718.804210  846.165337  68.430000  261.412500  448.19
Litecoin  1620.0    9.330123   13.145707   1.160000    3.060000    3.84
Monero    1231.0   10.740487   22.491004   0.223522    0.513035    1.39


               75%      max
CC
Bitcoin   705.2800  4892.01
Litecoin    8.7125    86.04
Monero      9.4300   145.40

[3 rows x 32 columns]

In [20]:
master_df.groupby('CC').describe().transpose()

CC               Bitcoin     Litecoin       Monero
Open  count  1620.000000  1620.000000  1231.000000
      mean    716.325031     9.302488    10.668743
      std     841.566485    13.103364    22.366494
      min      68.500000     1.150000     0.220121
      25%     261.080000     3.070000     0.514239
      50%     448.150000     3.845000     1.380000
      75%     705.347500     8.675000     9.380000
      max    4901.420000    85.830000   144.240000
High  count  1620.000000  1620.000000  1231.000000
      mean    736.272765     9.737444    11.325722
      std     870.749477    13.847245    23.724047
      min      74.560000     1.340000     0.251757
      25%     266.462500     3.120000     0.542731
      50%     454.645000     3.910000     1.500000
      75%     724.555000     9.262500     9.810000
      max    4975.040000    92.070000   154.580000
Low   count  1620.000000  1620.000000  1231.000000
      mean    696.893778     8.843586    10.091139
      std     812.844163    12.272203    21.023287
      min      65.530000     1.110000     0.212967
      25%     255.740000     2.990000     0.494739
      50%     442.785000     3.790000     1.240000
      75%     688.002500     8.435000     8.980000
      max    4678.530000    75.590000   136.490000
Close count  1620.000000  1620.000000  1231.000000
      mean    718.804210     9.330123    10.740487
      std     846.165337    13.145707    22.491004
      min      68.430000     1.160000     0.223522
      25%     261.412500     3.060000     0.513035
      50%     448.190000     3.840000     1.390000
      75%     705.280000     8.712500     9.430000
      max    4892.010000    86.040000   145.400000

In [21]:
master_df.groupby('CC').describe().transpose()['Bitcoin']

Open   count    1620.000000
       mean      716.325031
       std       841.566485
       min        68.500000
       25%       261.080000
       50%       448.150000
       75%       705.347500
       max      4901.420000
High   count    1620.000000
       mean      736.272765
       std       870.749477
       min        74.560000
       25%       266.462500
       50%       454.645000
       75%       724.555000
       max      4975.040000
Low    count    1620.000000
       mean      696.893778
       std       812.844163
       min        65.530000
       25%       255.740000
       50%       442.785000
       75%       688.002500
       max      4678.530000
Close  count    1620.000000
       mean      718.804210
       std       846.165337
       min        68.430000
       25%       261.412500
       50%       448.190000
       75%       705.280000
       max      4892.010000
Name: Bitcoin, dtype: float64

# Merging

Merging works like SQL Join logic. We combine multiple dataframes with an index key to form a relational table.

In [22]:
# define left and right data fr
# master_df.merge(left, right, on=['Key1','Key2])

In [1]:
left = btc_df['Daily Range'] < btc_df['']

NameError: name 'btc_df' is not defined